<div class="rating-block">
  <h4 class="profil-title text-left">Demandeur</h4>
  <hr>
  <h4 class="title-advert">
    <p class="trunc">
      <i class="glyphicon glyphicon-user se-user-icon-advert"></i>
        {{ advert.user }}</p></h4>
  <p>Dernière connexion : {{ user.lastLogin|date('d/m/Y') }}</p>
  <p>Membre depuis : {{ user.dateCreation|date('d/m/Y') }}</p>
  {% if user.accountType == 'Society' %}
  <p>
     Statut : Professionnel (SIRET : {{user.siret}})
 </p>
   {% elseif user.accountType == 'Particular' %}
    <p>
       Statut : Particulier
     </p>
  {% endif %}


<p>Ville : {{ user.PostalCode.value }} {{ user.PostalCode.city.labelNormal }}
              ({{ user.PostalCode.city.departement.labelNormal }})
</p>
<p>Tél :
     {% if user.isDetailVisible or is_granted('ROLE_SUPER_ADMIN')%}
     {{ user.phoneNumber|split('', 2)|join(' ') }}</p>
     {% else %}
       0X XX XX XX XX
     {% endif %}
</p>
<a href="{{ path('se_platform_user_view', {'userId': advert.user.id}) }}" class="btn btn-success">Voir son profil</a>
</div>
