{# Afficher les enchère - Action #}

{% extends "SELayoutBundle::layout.html.twig" %}

{% block title %}
    Mes enchères - {{ parent() }}
{% endblock %}

{% block se_layout_body %}
    
    <div class="well slogan-well">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="cat-title">Mes enchères</h3>
                    <a href="{{ path('se_auction_auction_list_by_user') }}"
                   class="btn btn-primary"
                   role="button" >
                    Toutes les enchères
                    </a>

                    <a href="{{ path('se_auction_auction_list_by_user_proposed') }}"
                       class="btn btn-warning"
                       role="button" >
                        Enchères proposées
                    </a>

                    <a href="{{ path('se_auction_auction_list_by_user_receive') }}"
                       class="btn btn-danger"
                       role="button" >
                        Enchères reçues
                    </a>

                    <a href="{{ path('se_auction_auction_list_by_user_terminated') }}"
                       class="btn btn-success"
                       role="button" >
                        Enchères terminées
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="well se-well">
        <div class="index-container" >
            <div class="row">
                 <div id="content" class="col-md-12">
                     <h4 class="cat-title">{{countAuctions}} Enchères</h4>
                     {{ include('@SEAuction/Auction/listAuction.html.twig') }}
                 </div>
            </div>
        </div>
    </div>
    {{ include('@SEAuction/Commun/pagination.html.twig') }}
{% endblock %}
