{# Liste les offres - Sans Action #}

{% if countAuctions > 0 %}
    
    {% set auctionAccept = 0 %}
    {% set break = false %}
    {% set advertId = 0 %}
    {% set auctionUserId = 0 %}
    
    {% for auction in listAuctions if not break %}
        {% if auction.state == 2 %}
            {% set auctionAccept = 1  %}
            {% set auctionUserId = auction.user.id  %}
            {% set break = true %}
        {% endif %}
        {% set advertId = auction.advert.id  %}
    {% endfor %}

    <table class="table" id="tblGrid">
        <tbody>
        {% for auction in listAuctions %}
            <tr>
                <td class="text-left">
                    <h5>
                    <a href="{{ path('se_user_view', {'id': auction.user.id}) }}" 
                       class="se-tbl-link" >
                        {{ auction.user }}
                    </a>
                     </h5>
                        {{ include('@SEAuction/Auction/rate.html.twig', {'item': auction.user }) }}
                   
                </td>
                <td class="text-right bold">
                    <h4>
                    {% if auction.state == 2 %}
                        <span class="label label-success">
                        Ecnhère à {{ auction.value|number_format(0, ' ', ' ') }} €
                        </span>
                    {% else %}
                        <span class="label label-default">
                        Ecnhère à {{ auction.value|number_format(0, ' ', ' ') }} €
                        </span>
                    {%endif%}
                    
                    </h4>
                    </td>
                <td class="text-center">
                    <h5>
                    {{ auction.dateCreation|date('d/m/Y') }} 
                    <br>
                    {{ auction.dateCreation|date('H:m:s') }}
                    </h5>
                </td>
                <td class="text-center">
                    {% if auction.state == 2 %}
                        <h4>
                            <span class="label label-success">Enchère Acceptée</span>
                        </h4>
                    {% elseif auctionAccept != 1 %}
                         <a href="{{ path('se_auction_auction_accept', {'auctionId': auction.id}) }}"
                            type="button" class="btn se-btn-action btn" >
                             J'accepte
                        </a>
                    {% else %}
                        <h4>
                            <span class="label label-default">Enchère déclinée</span>
                        </h4>
                    {% endif %}
                </td>
                <td>
                    {% if auction.state == 2 and countComment == 0 %}
                    <button 
                       class="btn se-btn-action btn"
                                    data-toggle="modal"
                                    data-target="#modalCommentAdd">
                        Evaluer
                    </button>
                    {% elseif auction.state == 2 and countComment != 0 %}
                        <h4>
                            <span class="label label-success">Déja evalué</span>
                        </h4>
                    {% else %}
                    {%endif%}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div>Aucune enchère pour l'instant</div>
{% endif %}

{% if countComment == 0 %}
<div class="modal fade"
    id="modalCommentAdd"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalCommentAddLabel">
    {{ render(controller('SEAuctionBundle:Comment:add', { 'request': app.request, 
                                                        'advertId': advertId, 
                                                        'auctionUserId': auctionUserId } 
    )) }}
</div>
{% endif %}