<div class="well well-sm well-footer">
    <div class="row text-left">
        <div class="col-md-4">
            <ul class="ul-footer">
                <li><a href="{{ path('se_platform_resum') }}">Qui sommes-nous ?</a></li>
                <li><a href="{{ path('se_platform_blog') }}">Blog</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-footer">
            <ul class="ul-footer">
                <li><a href="{{ path('se_platform_cgu') }}">Conditions Générales d'Utilisation</a></li>
                <li><a href="{{ path('se_platform_help') }}">Aide</a></li>

            </ul>
        </div>
        <div class="col-md-4">
            <ul class="ul-footer">
                <li>
                  <a class="btn btn-facebook" href="https://www.facebook.com/serviceenchere">Facebook</a>
                  <a class="btn btn-twitter" href="https://twitter.com/ServiceEnchere">Twitter</a>
                  <a class="btn btn-success" href="mailto:contact@serviceenchere.fr">Contacter</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- PAGE - FOOTER - COPY -->
    <div id="footer" class="copyr">
        <footer>
            <p>Tous droits réservés. COPYRIGHT © {{ 'now'|date('Y') }} Service Enchère.</p>
        </footer>
    </div>
</div>
