<!-- NEW -->
<nav class="navbar navbar-default se-header">
    <div class="container-fluid">
        <!-- LEFT - LOGO -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand se-color-1 logo" href="{{ path('se_platform_homepage') }}">
                    <div class="logo_img" >  </div>
              </a>
        </div>

        <!-- RIGTH - MENU -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="{{ path('se_platform_user_jobbeur_list')  }}" >
                      Annuaire des artisans
                  </a>
              </li>
              <!--  <li>
                    <a href="{{ path('se_platform_advert_list')  }}" >
                        Demandes
                    </a>
                </li>
                <li>
                    <a href="{{ path('se_platform_advert_add') }}" >
                        Déposer une demande
                    </a>
                </li>-->
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                 {{app.user}}

                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                              <!--  <li>
                                  <a href="{{ path('se_platform_advert_user_list') }}">Mes demandes {% if app.user.isNewAuction or app.user.isValideAuction %}<span class="label label-danger">1</span>{% endif %}</a>
                                </li>
                                <li>
                                  <a href="{{ path('se_platform_auction_user_send') }}">Mes offres</a>
                                </li>
                                  <li>
                                    <a href="{{ path('se_platform_comment_user_list') }}">Mes avis</a>
                                  </li>-->
                                <li><a href="{{ path('se_platform_user_edit') }}" >Mon compte</a></li>
                                <li role="separator" class="divider"></li>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <li role="presentation" >
                                   <a href="{{ path('se_platform_admin_list_users_portential') }}">Utilisateurs potentiels</a>
                                </li>
                                <li role="presentation" >
                                   <a href="{{ path('se_platform_admin_list_users') }}">Utilisateurs inscrits</a>
                                 </li>
                                 <li role="presentation" >
                                    <a href="{{ path('se_platform_admin_list_adverts') }}">Demandes</a>
                                  </li>
                                  <li role="presentation" >
                                     <a href="{{ path('se_platform_admin_list_auctions') }}">Offres</a>
                                   </li>
                                   <li role="presentation" >
                                      <a href="{{ path('se_platform_admin_list_messages') }}">Messages</a>
                                    </li>
                                    <li role="presentation" >
                                       <a href="{{ path('se_platform_admin_list_comments') }}">Avis</a>
                                     </li>
                                     <li role="presentation" >
                                        <a href="{{ path('se_platform_admin_mail') }}">Mailing</a>
                                     </li>
                                <li role="separator" class="divider"></li>
                                {% endif %}
                                <li><a id="logout" href="{{path('fos_user_security_logout')}}">Se déconnecter</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{path('fos_user_security_login')}}" >
                                Se connecter
                            </a>
                        </li>
                    {% endif %}
            </ul>
        </div>
    </div>
</nav>
