

{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Le bon service au bon prix
{% endblock %}

{% block layout_header2 %}
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2 id="type-blockquotes">Le bon service au bon prix !</h2>
          </div>
        </div>
        <div class="seprate-white"></div>
{% endblock %}

{% block layout_body %}
<div class="row">
  <!-- CATGEORY - CARTE DE FRANCE -->
  <div class="col-md-4">
      <blockquote class="blockquote">
      <div class="list-group">
        {% for category in listCategory %}
              <a class="list-group-item" href="{{ path('se_platform_advert_list' , {'category' : category.id }) }}">
                  {{ category.labelNormal }}
              </a>
          {% endfor %}
      </div>
        </blockquote>
  </div>
  <div class="col-md-4 text-center">
      <div id="tip" style='display:none'></div>
      <div id="cmap"></div>
  </div>
  <div class="col-md-4">
    <blockquote class="blockquote-reverse">
      <div class="list-group">
        {% for region in listRegion %}
            <a class="list-group-item" href="{{ path('se_platform_advert_list', { 'region': region.id }) }}">
                {{ region.labelNormal }}
            </a>
        {% endfor %}
      </div>
    </blockquote>
  </div>
</div>

<div class="row btn-group-justified">
  <div class="col-sm-6">
    <div class="bs-component">
      <p>Vous cherchez une aide ?</p>
      <blockquote class="blockquote">
        <h4><span class="label label-primary">1</span>  <a href="{{ path('se_platform_advert_add') }}">Postez votre demande</a></h4>
        <h4><span class="label label-primary">2</span>  Recevez des offres</h4>
        <h4><span class="label label-primary">3</span>  Choisissez la meilleure offre</h4>
      </blockquote>
    <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
  </div>
  <div class="col-sm-6">
    <div class="bs-component">
      <p>Vous proposez vos services ?</p>
      <blockquote class="blockquote">
        <h4>
                      <span class="label label-primary">1</span>
                      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                          <a  href="{{ path('se_platform_user_edit') }}">Inscrivez vous</a>
                          {% else %}
                          <a href="{{ path('fos_user_registration_register') }}">Inscrivez vous</a>
                          {% endif %}</p>
                        </h4>
        <h4><span class="label label-primary">2</span>  Proposez des offres et gagnez</h4>
        <h4><span class="label label-primary">3</span>  Retrouver le demandeur</h4>
      </blockquote>
    </div>
  </div>
</div>

<div class="row text-center">
<p class="pad-msg">Sur le site <a class='contact' href="http://www.serviceenchere.fr">www.serviceenchere.fr</a>, vous pouvez déposer, consulter des annonces et passer des enchères <b>gratuitement</b>.</p>
</div>
{% endblock %}
