

{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
      Top Artisan : Annuaire, adresses, artisan en France
{% endblock %}
{% block description %}
  <meta name="description" content="Plateforme de prestation jobbing et de services entre particuliers. Simple gratuit est efficace." />
{% endblock %}

{% block layout_header2 %}
      <div class="slogan"><p>Le meilleur artisan au bon prix !</p></div>
      <div class="hidden-xs hidden-sm" >
          <div class="col-md-6">
              <p class="cat-title">Vous cherchez un artisan ?</p>
              <h5>
                  <span class="label label-default se-badge">1</span>
                  <a class="slogan-link" href="{{ path('se_platform_user_jobbeur_list') }}">Consulter l'annuaire des artisans</a>
              </h5>
              <h5><span class="label label-default se-badge">2</span> Demandez des devis</h5>
              <h5><span class="label label-default se-badge">3</span> Choisissez la meilleure offre</h5>
          </div>
          <div class="col-md-6">
              <p class="cat-title">Vous proposez vos services ?</p>
              <h5>
                  <span class="label label-default se-badge">1</span>
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <a class="slogan-link" href="{{ path('se_platform_user_edit') }}">Inscrivez-vous</a>
                  {% else %}
                  <a class="slogan-link" href="{{ path('fos_user_registration_register') }}">Inscrivez vous</a>
                  {% endif %}
              </h5>
              <h5><span class="label label-default se-badge">2</span> Recevez des demandes de devis</h5>
              <h5><span class="label label-default se-badge">3</span> Proposez la meilleure offre</h5>
          </div>
      </div>
{% endblock %}

{% block layout_body %}
<div class="row">
  <!-- CATGEORY - CARTE DE FRANCE -->
  <div class="col-md-4 hidden-xs hidden-sm">
      <h4 class="cat-title">Par Catégories</h4>
      <ul class="ul-cat">
        {% for category in listCategory %}
              <li>
                  <a class="cat-link" href="{{ path('se_platform_user_jobbeur_list' , {'category' : category.id }) }}">
                      {{ category.labelNormal }}
                  </a>
              </li>
          {% endfor %}
      </ul>
      <div class="seprate-white"></div>
      <h4 class="cat-title">Par Régions</h4>
      <ul class="ul-cat">
        {% for region in listRegion %}
        <li>
            <a class="cat-link" href="{{ path('se_platform_user_jobbeur_list', { 'region': region.id }) }}">
                {{ region.labelNormal }}
            </a>
        </li>
        {% endfor %}
      </ul>
  </div>
  <div id="index_carte" class="col-md-8 text-center">
      <div id="tip" style='display:none'></div>
      <div id="cmap"></div>
  </div>
</div>
<div class="row text-center">
<p class="pad-msg">Sur le site <a class='contact' href="http://www.topartisan.fr">www.topartisan.fr</a>, vous pouvez déposer, consulter des demandes et proposer des offres <b>gratuitement</b>.</p>
</div>
{% endblock %}
