                           
    <script type="text/javascript">
        function reloadDpt(s) {
            if (s[s.selectedIndex].value !== '0') {
               $('#departement_id').prop('disabled', false);
            }
            else{
                 $('#departement_id').prop('disabled', 'disabled');
            }
          }
    </script>
    
    <form id="form_recherche" action="" method="get">
        <div class="form-group">
            <div class="row filter">
                <div class="col-md-6">
                    <input name="title" type="text" value="{{ app.request.query.get('title') }}" 
                           class="form-control" 
                           placeholder="Que cherchez-vous?">
                </div>
                <div class="col-md-3">
                        <select class="form-control" name="category">
                            <option value='0' >Toutes les catégories</option>
                            {% for category in listCategory %}
                                <option {{ app.request.query.get('category')== category.id ? ' selected ' : ' ' }} 
                                    value={{ category.id }}>{{ category.labelNormal }}
                                </option>
                            {% endfor %}
                        </select>
                </div>
                <div class="col-md-3">
                        <select class="form-control" 
                                name="region" 
                                id="region" 
                                onchange="reloadDpt(this)">
                            <option value='0'>Toutes les régions</option>
                            {% for region in listRegions %}
                                 <option {{ app.request.query.get('region')== region.id ? ' selected ' : ' ' }} 
                                    value={{ region.id }}>{{ region.labelNormal }}
                                 </option>
                            {% endfor %}
                        </select>
                </div>
              </div>           
            <div class="row filter">
                <div class="col-md-6">
                    <select class="form-control" 
                            name="departement" 
                            id="departement_id" >
                        <option value='0'>Tous les départements</option>
                         {{ include('@SEAuction/Advert/departement.html.twig') }}
                    </select>
                </div>
                        
                 <div class="col-md-3">
                    <input name="city" 
                           type="text" 
                           class="form-control" 
                           value="{{ app.request.query.get('city') }}"
                           placeholder="Ville ou code postale">
                </div>
                        
                <div class="col-md-2">
                    <input 
                        class="btn btn-success btnIcon-search"
                        type="submit" value="Recherche"  />
                    
                </div>
                <div class="col-md-1">
                    <a class="btn btn-danger" 
                       href="{{ path('se_auction_advert_list')  }}">
                        Reset
                    </a>
                </div>
            </div>
        </div>
    </form>
