<div class="col-sm-4 col-md-4">
    <div class="thumbnail cadre">
        <a href="{{ path('se_auction_advert_view', {'id': advert.id}) }}">
            <img style="width: 300px; height: 200px;" src="{{ asset(advert.category.webPath) }}" alt="{{ asset(advert.category.webPath) }}"> 
        </a>
        <div class="caption">
            <h3 class="truncate slogan-link">{{ advert.title }}</h3>
            {% if advert.category.labelNormal != 'Autres' %}
                <p>{{ advert.category.labelNormal }}</p>
                {% else %}
                <p>Sans catégorie</p>
            {% endif %}
            <p>{{ advert.dateCreation|date('d/m/Y') }} à {{ advert.dateCreation|date('H:m') }}</p>
            
            <p>Dernière enchère à </p>
            <p class="text-right">
                 <button class="btn btn-primary btnIcon"
                                    role="button" 
                                    data-toggle="tooltip" 
                                    title="Historique des enchères"
                                    data-toggle="modal" 
                                    data-target="#modalAuctionShow" >
                                 <i class="glyphicon glyphicon-list-alt" ></i>
                </button>
                
                <a href="{{ path('se_auction_advert_edit',{'id':advert.id}) }}"
                  class="btn btn-success btnIcon" 
                  role="button" 
                  data-toggle="tooltip" 
                  title="Modifier">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a href="{{ path('se_auction_advert_delete',{'id':advert.id}) }}"
                  class="btn btn-danger btnIcon" 
                  role="button" 
                  data-toggle="tooltip" 
                  title="Supprimer">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </p>
        </div>
    </div>
</div>