{# Une Demande - Sans Action #}

<div class="panel panel-default">
  <div class="panel-body text-center se-item-link">
    {% if advert.category.labelNormal != 'Autres' %}
        <p>{{ advert.category.labelNormal }}</p>
    {% else %}
        <p>Sans catégorie</p>
    {% endif %}
        <img class="se-img" src="{{ asset(advert.category.webPath) }}" alt="{{ asset(advert.category.webPath) }}"> 
  </div>
  <div class="panel-footer se-panel-footer">
      <h4 class="truncate">
        {{ advert.title }}
      </h4>
    <p>{{ advert.user.PostalCode.value }} {{ advert.user.PostalCode.city.labelNormal }} / {{ advert.user.PostalCode.city.departement.labelNormal }}</p>

    
    {{ render(controller('SEAuctionBundle:Advert:viewLastAuction', { 'advertId': advert.id })) }}

  </div>
</div>

    <span id="city_lat" class="hidden">{{ advert.user.PostalCode.city.latitude }}</span>
    <span id="city_long" class="hidden">{{ advert.user.PostalCode.city.longitude }}</span>