<div class="panel panel-default">
  <div class="panel-body">
    <a href="{{ path('se_auction_advert_view', {'id': advert.id}) }}">
            <img src="{{ asset(advert.category.webPath) }}" alt="{{ asset(advert.category.webPath) }}"> 
        </a>
        <div>
            <h3 class="truncate">
                <a  class="slogan-link" href="{{ path('se_auction_advert_view', {'id': advert.id}) }}">{{ advert.title }}</a>
            </h3>
            {% if advert.category.labelNormal != 'Autres' %}
                <p>{{ advert.category.labelNormal }}</p>
                {% else %}
                <p>Sans catégorie</p>
            {% endif %}
            <p>{{ advert.dateCreation|date('d/m/Y') }} à {{ advert.dateCreation|date('H:m') }}</p>
            <p>{{ advert.user.PostalCode.value }} {{ advert.user.PostalCode.city.labelNormal }} / {{ advert.user.PostalCode.city.departement.labelNormal }}</p>
        </div>
  </div>
    <div class="panel-footer text-center price">
       <h4 class="">
           {{ render(controller('SEAuctionBundle:Advert:viewLastAuction', { 'advertId': advert.id })) }}
       </h4>
    </div>
</div>