{# Lister des Enchères d'une Demande - Sans Action #}

{% if countAuctions > 0 %}
    <table class="table" id="tblGrid">
        <thead id="tblHead">
            <tr>
                <th>Enchérisseur</th>
                <th>Note</th>
                <th class="text-center">Montant</th>
                <th class="text-center">Date</th>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user == advert.user %}
                    <th class="text-center">Mon choix</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for auction in listAuctions %}
            <tr>
                <td class="text-left">{{ auction.user }}</td>
                <td class="text-left">
                    {% if auction.user.rate == -1 or auction.user.rate == null or auction.user.rate == 0 %}
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                    {% elseif auction.user.rate == 1 %}
                        <i class="glyphicon glyphicon-star rate-success"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                    {% elseif auction.user.rate == 2 %}
                        <i class="glyphicon glyphicon-star rate-success"></i>
                        <i class="glyphicon glyphicon-star rate-success"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                    {% elseif auction.user.rate == 3 %}
                        <i class="glyphicon glyphicon-star rate-success"></i>
                        <i class="glyphicon glyphicon-star rate-success"></i>
                        <i class="glyphicon glyphicon-star rate-success"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                    {% elseif auction.user.rate == 4 %}
                        <i class="glyphicon glyphicon-star rate-success"></i>
                        <i class="glyphicon glyphicon-star rate-success"></i>
                        <i class="glyphicon glyphicon-star rate-success"></i>
                        <i class="glyphicon glyphicon-star rate-success"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                    {% elseif auction.user.rate == 5 %}
                        <i class="glyphicon glyphicon-star rate-success"></i>
                        <i class="glyphicon glyphicon-star rate-success"></i>
                        <i class="glyphicon glyphicon-star rate-success"></i>
                        <i class="glyphicon glyphicon-star rate-success"></i>
                        <i class="glyphicon glyphicon-star rate-success"></i>
                    {% endif %}
                </td>
                <td class="text-right bold">{{ auction.value|number_format(0, ' ', ' ') }} €</td>
                <td class="text-right">{{ auction.dateCreation|date('d/m/Y') }} à {{ auction.dateCreation|date('H:m:s') }}</td>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user == advert.user %}
                    <td class="text-center">
                        <a href="{{ path('se_auction_auction_list_by_user') }}"
                           type="button" class="btn btn-success" >
                            <i class="glyphicon glyphicon-thumbs-up" ></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div>Aucune enchère pour l'instant</div>
{% endif %}