{# Lister des Demandes par User - Action #}

{% extends "SELayoutBundle::layout.html.twig" %}

{% block title %}
    Mes demandes - {{ parent() }}
{% endblock %}

{% block se_layout_body %}
    
    <div class="well slogan-well">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                      <h3 class="cat-title">Mes demandes</h3>
                </div>
            </div>
        </div>
    </div>
                
    <div class="well se-well">
        <div class="index-container" >
            <div class="row">
                 <div id="content" class="col-md-12">
                     <h4 class="cat-title">{{ titleResult }}</h4>
                        <table class="table" id="tblGrid">
                            <tbody>
                            {% for advert in listAdverts %}
                                <tr>
                                    <td>
                                        <img class="se-auction-img" src="{{ asset(advert.category.webPath) }}" alt="{{ asset(advert.category.webPath) }}"> 
                                    </td>
                                    <td>
                                        <h5>
                                            <a class='se-tbl-link' href="{{ path('se_auction_advert_view', {'id': advert.id}) }}">{{ advert.title }}</a>
                                            <h5> 
                                            {{ advert.dateCreation|date('d/m/Y') }} 
                                            à
                                             {{ advert.dateCreation|date('H:m:s') }}
                                            </h5>
                                        </h5>
                                    </td>
                                    <td class='text-left'>
                                        <h5>
                                            <a href="{{ path('se_auction_list_auction_by_advert', {'advertId': advert.id}) }}"
                                                class="{% if advert.auctionState == 0 %} not-active {% else %} se-tbl-link  {% endif %}" >
                                                {{ render(controller('SEAuctionBundle:Advert:viewCountAuctionByAdvert', { 'advertId': advert.id })) }}
                                            </a>
                                        </h5>
                                        <h5>
                                            <a href="{{ path('se_auction_message_list',{'advertId': advert.id}) }}"
                                                {{ render(controller('SEAuctionBundle:Advert:viewCountMessageByAdvert', { 'advertId': advert.id })) }}
                                            </a>
                                        </h5>
                                     </td>
                                    <td class='text-left td_center'>
                                        <h5>
                                        {% if advert.isPublished == 1 %}
                                            <span class="label label-info">Demande en cours</span>
                                        {% elseif advert.isPublished == 0 and advert.auctionState == 0 %}
                                            <span class="label label-warning">Publication en cours</span>
                                        {% elseif advert.isPublished == 0 and advert.auctionState == 1 %}
                                            <span class="label label-success">Vous avez accepté</span>
                                            <div class="label label-danger"
                                                  data-toggle="tooltip" 
                                                        data-placement="bottom" title="La demande n'est plus visible sur le site">
                                             <i class="glyphicon glyphicon-info-sign"> </i>
                                            </div>
                                        {% endif %}
                                        </h5>
                                    </td>
                                     <td class='text-center'>
                                            <h5>
                                                <a href="{{ path('se_auction_advert_edit', {'id': advert.id}) }}"
                                                type="button" 
                                                class='{% if advert.isPublished == 0 and advert.auctionState != 0 %} btn btn-success not-active {% else %} btn btn-success  {% endif %}' 
                                                data-toggle="tooltip" 
                                                data-placement="bottom"
                                                
                                                title="Modifier la demande">
                                                <i class='glyphicon glyphicon-edit'></i>
                                                </a>
                                                <a href="{{ path('se_auction_advert_delete', {'id': advert.id}) }}"
                                                    type="button" 
                                                    data-toggle="tooltip" 
                                                    class='{% if advert.isPublished == 0 and advert.auctionState != 0 %} btn btn-danger not-active {% else %} btn btn-danger  {% endif %}' 
                                                    data-placement="bottom" title="Supprimer la demande">
                                                <i class='glyphicon glyphicon-remove'></i>
                                                </a>
                                            </h5>
                                        
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
                
   {{ include('@SEAuction/Commun/pagination.html.twig') }}
{% endblock %}
