{# Lister des Offres d'une Demande - Sans Action #}

{% if countAuctions > 0 %}
    <table class="table" id="tblGrid">
        <thead id="tblHead">
            <tr>
                <th>Enchérisseur</th>
                <th>Note</th>
                <th class="text-center">Proposition</th>
                <th class="text-center">Date</th>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user == advert.user %}
                    <th class="text-center">Mon choix</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for auction in listAuctions %}
            <tr>
                <td class="text-left">
                    <a href="{{ path('se_user_view', {'id': auction.user.id}) }}" class="cat-link" >
                        {{ auction.user }}
                    </a>
                </td>
                <td class="text-left">
                    {{ include('@SEAuction/Auction/rate.html.twig', {'item': auction.user }) }}
                </td>
                <td class="text-right bold">{{ auction.value|number_format(0, ' ', ' ') }} €</td>
                <td class="text-right">{{ auction.dateCreation|date('d/m/Y') }} à {{ auction.dateCreation|date('H:m:s') }}</td>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user == advert.user %}
                    <td class="text-center">
                        <a href="{{ path('se_auction_auction_list_by_user') }}"
                           type="button" class="btn btn-success" >
                            <i class="glyphicon glyphicon-thumbs-up" ></i>
                        </a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div>Aucune proposition pour l'instant</div>
{% endif %}