{# Afficher une demande - Action #}

{% extends "SELayoutBundle::layout.html.twig" %}

    {% block title %}
        {{ advert.title }} - {{ parent() }}
    {% endblock %}

    {% block se_layout_body %}

        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="well slogan-well">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    
    <div class="well se-well">
        <div class="index-container" >
            <div class="row">
                 <div id="content" class="col-md-12">
                    <div class="col-md-6">
                    <h4 class="cat-title">{{ advert.title }}</h4>
                    <i>Mise en ligne le {{ advert.dateCreation|date('d/m/Y') }} à {{ advert.dateCreation|date('H:m') }}</i>
                        Par {{ advert.user }}
                        {{ include('@SEAuction/Advert/itemTuile.html.twig') }}
                    </div>
                    <div class="col-md-6">
                        <h4 class="cat-title">Vous êtes intéressé par cette demande?</h4>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% if app.user != advert.user%}
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ render(controller('SEAuctionBundle:Auction:add', {'request': app.request,'advertId':advert.id} )) }}
                                        {{ render(controller('SEAuctionBundle:Message:add', {'request': app.request,'advertId':advert.id} )) }}
                                     </div>
                                </div>
                            {% else %} 
                                <div class="row" >
                                <div class="col-md-12" >
                                    {% if advert.auctionState == 0 %}
                                        <div class="alert alert-danger" role="alert">
                                            Vous ne pouvez pas enchérir sur votre propre demande.
                                        </div>
                                    {% else %}
                                        <div class="alert alert-danger" role="alert">
                                            Vous avez déja accepté une enchère, cette demande n'est pas en ligne.
                                        </div>
                                    {% endif %}
                                </div> 
                            </div>
                            {% endif %}
                        {% else %}
                            <div class="row" >
                                <div class="col-md-12" data-toggle="tooltip" 
                                        data-placement="left" title="Connectez-vous">
                                    <a href="{{ path('se_auction_add', {'advertId':advert.id}) }}"
                                       class="btn se-btn-action disabled" >
                                        Proposez un prix
                                    </a>
                                    <a href="{{ path('se_auction_message_add', {'advertId':advert.id}) }}"
                                       class="btn btn-default disabled">
                                        Envoyez un message
                                    </a>
                                </div> 
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>          
            <div class="row">
                <div id="content" class="col-md-12">
                    <div class="col-md-6">
                        <h4 class="cat-title">Description</h4>
                        <p>{{ advert.detail |nl2br }}</p>
                        
                    </div>
                        <!--
                    <div class="col-md-6">
                        <h4 class="cat-title">Localisation</h4>
                        <div id="gmap-div" class="google-carte"></div>
                    </div>-->
                    
                </div>
            </div>     
        </div>
    </div>

    <div class="modal fade"
         id="modalAuctionShow"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modalAuctionShowLabel">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Historique des offres</h4>
              </div>
              <div class="modal-body">
                  {{ include('@SEAuction/Advert/listAuction.html.twig') }}
              </div>
            </div>
          </div>
    </div>
              
    {% endblock %}
    
