{% extends "SELayoutBundle::layout.html.twig" %}

{% block title %}
    Annonce - {{ parent() }}
{% endblock %}

{% block se_layout_body %}

    <h4 class="cat-title">{{ advert.title }}</h4>
    <div class="col-md-12">
        <i>Par {{ advert.user }}, le {{ advert.dateCreation|date('d/m/Y') }}</i>
        <div class="row">
            <div class="col-xs-6 col-md-6">
                <div class="thumbnail">
                    {% if advert.image is not null %}
                        <img class="viewImage" src="{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}">
                        {% else %}
                    <img class="viewImage" src="../uploads/img/no_image.png"
                         alt="no-image">
                     {% endif %}
                </div>
            </div>
        <div class="col-lg-6">
            <div class="well">
                Enchères en cours :
                <ul>
                    <li>Soyez le premier à proposer une enchère</li>
                </ul>
            </div>
        </div>
            <div class="col-lg-6">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="well">
                    Détail :
                    <br>
                    {{ advert.detail }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="">
                    <p>
                        <a href="{{ path('se_auction_advert_list') }}" class="btn btn-default">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Retour à la liste
                        </a>
                        <a href="{{ path('se_auction_advert_edit',{'id':advert.id}) }}" class="btn btn-success">
                            <i class="glyphicon glyphicon-edit"></i>
                            Modifier l'annonce
                        </a>
                        <a href="{{ path('se_auction_advert_delete',{'id':advert.id}) }}" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>
                            Supprimer l'annonce
                        </a>

                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}