{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <div class="text-center">
        <a href="{{ path('fos_user_profile_edit') }}" class="form-control btn btn-primary">
            Modifier mon compte
        </a>
    </div>
</div>
