<div>
    <p>Bonjour <b>{{ receiver }}</b></p>
    <p>Vous avez reçu un nouveau message concerant la demande <a href="{{ url('se_platform_advert_view', {'slug': advert.slug,'id': advert.id}) }}" >{{advert.title}}</a>
      de la part de <a href="{{ url('se_platform_user_view', {'userId': sender.id}) }}">{{sender}}</a></p>
    <div class="alert alert-success">
      <p><b>Nom :</b> {{ sender }}</p>
      <p><b>Mail :</b> {{ sender.email }}</p>
      <p><b>Message :</b></p>
      <p style="padding-left:20px">{{content|nl2br}}</p>
    </div>
    <div class="alert alert-danger">
      <p>Ne répondez pas à ce message, utilisez l'adresse mail de la personne qui vous a contacté, son adresse : {{ sender.email }} </p>
    </div>
</div>
