<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- PAGE - TITLE -->
        <title>{% block title %}Top Artisan{% endblock %}</title>
        {% block description %}
        {% endblock %}

        <!-- PAGE - FAVICON -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- PAGE - CSS -->
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css">
        {% endblock %}

        <link rel="stylesheet" href="../../css/main.css" type="text/css" />
        <link rel="stylesheet" href="../../css/smartphone.css" type="text/css" />
        <link rel="stylesheet" href="../../css/tablet.css" type="text/css" />

    </head>
    <body >
      <div class="se-pre-con" style="display:none;"></div>
        <!-- HADER - MENU -->
        <div class="row">
          <div class="col-md-12">
              {{ include('@SEPlatform/Default/header.html.twig') }}
            </div>
        </div>
        <!-- CONTAINER -->
              {% block body %}{% endblock %}

        <div id="pathCpCity" data-path="{{ path('se_platform_postalCode' )}}"></div>
        <div id="pathDepartementByRegion" data-path="{{ path('se_platform_departement_by_region' )}}"></div>
        <div id="pathCityByDepartement" data-path="{{ path('se_platform_city_by_departement' )}}"></div>
        <div id="pathPostalCodeByCityAndDepartement" data-path="{{ path('se_platform_postalCode_by_city_and_departement' )}}"></div>

        <!-- PAGE - FOOTER - SERVICE -->
        <div class="row">
            <div class="col-md-12">
              {{ include('@SEPlatform/Default/footer.html.twig') }}
            </div>
        </div>
        <!-- PAGE - JS -->
        {% block javascripts %}

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../../js/js.js" ></script>
        <script type="text/javascript" src="../../js/france.js" ></script>
        <script type="text/javascript" src="../../js/cmap.js" ></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11985657-8"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-11985657-8');
        </script>

        {% endblock %}
    </body>
</html>
