
    <form id="form_recherche" action="" method="get">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 filter">
                  <input name="title" type="text"
                        value="{{ app.request.query.get('title') }}"
                        class="form-control"
                        placeholder="">
                </div>
                <div class="col-md-2 filter">
                      <select class="form-control" name="advertState">
                          <option value='0' >Tous les états</option>
                            {% for state in advertState %}
                                <option {{ app.request.query.get('advertState')== state.id ? ' selected ' : ' ' }}
                                    value={{ state.id }}>{{ state.labelNormal }}
                                </option>
                            {% endfor %}
                      </select>
                </div>
                <div class="col-md-2 filter">
                      <select class="form-control" name="category">
                          <option value='0' >Toutes les catégories</option>
                          {% for category in advertCategory %}
                              <option {{ app.request.query.get('category')== category.id ? ' selected ' : ' ' }}
                                  value={{ category.id }}>{{ category.labelNormal }}
                              </option>
                          {% endfor %}
                      </select>
                </div>
                <div class="col-md-2 filter">
                    <input class="btn btn-lg-se btn-primary" type="submit" value="Afficher"  />
                </div>
                <div class="col-md-2 filter">
                  <a href="{{ path('se_platform_admin_list_adverts') }}"
                            type="button" class="btn btn-lg-se btn-primary" >
                             Réinitialiser
                  </a>
                </div>
              </div>
        </div>
    </form>
