{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Liste des avis  
{% endblock %}

{% block layout_header2 %}
  <div class="row">
    <div id="header" class="col-md-12">
      <h3 class="cat-title-admin">Liste des Avis</h3>
        {{ include('@SEPlatform/Admin/listCommentFilter.html.twig') }}
    </div>
  </div>
{% endblock %}
{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         <h4 class="cat-title">{{titleResult}}</h4>
            <table class="table" id="tblGrid">
              <thead id="tblHead">
                  <tr>
                      <th>Date de création</th>
                      <th>Envoyeur</th>
                      <th>Recepteur</th>
                      <th>Demande</th>
                      <th>Note</th>
                      <th>Publié</th>
                      <th>Supprimé</th>
                  </tr>
              </thead>
              <tbody>
            {% for comment in listComments %}
            <tr>
              <td>
                {{ comment.dateCreation|date('d/m/Y') }}
                à
                {{ comment.dateCreation|date('H:i:s') }}
             </td>
             <td>
               <a href="{{ path('se_platform_admin_view_user' , {'id' : comment.sender.id }) }}" >
                 {{comment.sender}}
               </a>
            </td>
              <td>
                <a href="{{ path('se_platform_admin_view_user' , {'id' : comment.receiver.id }) }}" >
                  {{comment.receiver}}
                </a>
             </td>
             <td>
               <a href="{{ path('se_platform_admin_view_advert' , {'id' : comment.advert.id }) }}" >
                {{comment.advert.title}} (<a href="{{ path('se_platform_admin_view_user' , {'id' : comment.advert.user.id }) }}" >
                  {{comment.advert.user}}
                </a>)
              </a>
             </td>
              <td>
                <span class="label label-default se-badge">{{ comment.rate }} / 5</span>
              </td>
             <td>
                {% if comment.isPublished %}
                  <span class="label label-success">Oui</span>
                {% else %}
                  <span class="label label-danger">Non</span>
                {% endif %}
            </td>
            <td>
               {% if comment.isDeleted %}
                 <span class="label label-success">Oui</span>
               {% else %}
                 <span class="label label-danger">Non</span>
               {% endif %}
           </td>

            </tr>
            {% else %}
                <div>Pas d'avis</div>
            {% endfor %}
              </tbody>
            </table>
       </div>
   </div>

   <div class="row">
       <div class="col-md-12 text-center">
           <ul class="pagination">
               {% if nbPages > 1 %}
                   {% for p in range(1, nbPages) %}
                       <li{% if p == page %} class="active"{% endif %}>
                           <a href="{{ path('se_platform_admin_list_comments', {'page': p}) }}">{{ p }}</a>
                       </li>
                   {% endfor %}
               {% endif %}
           </ul>
       </div>
   </div>

{% endblock %}
