{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Détail d'un compte utilisateur
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title-admin">Compte N° {{ user.id }} de {{ user }}</h3>
  </div>
</div>
{% endblock %}

{% block layout_body %}

              <div class="index-container" >
                <div class="well">
                  <div class="row">
                    {% block fos_user_content %}
                        {% include "@FOSUser/Profile/view_content.html.twig" %}
                    {% endblock fos_user_content %}
                  </div>
                    </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-6">
                           <h4 class="cat-title">Action </h4>
                           <table class="table" id="tblGrid">
                             <tbody>
                               <tr>
                                 <td>
                                     Activée
                                 </td>
                                 {% if user.isEnabled %}
                                 <td>
                                     <span class="label label-success">Oui</span>
                                 </td>
                                 <td class="text-center">
                                   <a href="{{ path('se_platform_admin_enabled_user', {'action': 0,'id': user.id}) }}" class="btn btn-primary">Désactiver</a>
                                 </td>
                                 {% else %}
                                 <td>
                                     <span class="label label-danger">Non</span>
                                 </td>
                                 <td class="text-center">
                                   <a href="{{ path('se_platform_admin_enabled_user', {'action': 1,'id': user.id}) }}" class="btn btn-primary">Activer</a>
                                 </td>
                                 {% endif %}
                               </tr>

                               <tr>
                                 <td>
                                     Newletter
                                 </td>
                                 {% if user.isNewsLetter %}
                                 <td>
                                     <span class="label label-success">Oui</span>
                                 </td>
                                 <td class="text-center">
                                   <a href="{{ path('se_platform_admin_newsletter_user', {'action': 0,'id': user.id}) }}" class="btn btn-primary">Désactiver</a>
                                 </td>
                                 {% else %}
                                 <td>
                                     <span class="label label-danger">Non</span>
                                 </td>
                                 <td class="text-center">
                                   <a href="{{ path('se_platform_admin_newsletter_user', {'action': 1,'id': user.id}) }}" class="btn btn-primary">Activer</a>
                                 </td>
                                 {% endif %}
                               </tr>

                               <tr>
                                 <td>
                                     Visible
                                 </td>
                                 {% if user.isDetailVisible %}
                                 <td>
                                     <span class="label label-success">Oui</span>
                                 </td>
                                 <td class="text-center">
                                   <a href="{{ path('se_platform_admin_visible_user', {'action': 0,'id': user.id}) }}" class="btn btn-primary">Désactiver</a>
                                 </td>
                                 {% else %}
                                 <td>
                                     <span class="label label-danger">Non</span>
                                 </td>
                                 <td class="text-center">
                                   <a href="{{ path('se_platform_admin_visible_user', {'action': 1,'id': user.id}) }}" class="btn btn-primary">Activer</a>
                                 </td>
                                 {% endif %}
                               </tr>
                             </tbody>
                           </table>
                       </div>

                    </div>
                  </div>
  </div>

{% endblock %}
