{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
  Ajouter un avis - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
      <h3 class="cat-title">Ajouter un avis</h3>
  </div>
</div>
{% endblock %}
{% block layout_body %}
  <div class="row">
    {% if app.user.isAcountComplete == 0 %}
        <div class="alert alert-warning" role="alert">
            Bonjour {{ app.user.username }}, Votre profil n'est pas complet, merci de le
            <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >compléter</a>
        </div>
    {% else %}
      <div id="content" class="col-md-3"></div>
       <div id="content" class="col-md-6">
         {% if advert.commentState  %}
         <div class="alert alert-info text-center" role="alert">
         </p>Vous avez déjà laissé un avis à ce jobbeur</p>
         <a href="{{path('se_platform_comment_user_list')}}">Voir mes avis.</a>
         </div>

         {% else %}
           {{ include('SEPlatformBundle:Comment:form.html.twig') }}
         {% endif %}
       </div>
      <div id="content" class="col-md-3"></div>
 {% endif %}
   </div>
{% endblock %}
