{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Mes avis - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Mes avis</h3>
    {{ include('@SEPlatform/Comment/listUserFilter.html.twig') }}
  </div>
</div>

{% endblock %}
{% block layout_body %}

<div class="row">
  <div class="col-md-12">
      <blockquote>
        {{countComment}} avis
      </blockquote>
        {% for comment in listComment %}
        <div  class="well well-msg{% if app.user == comment.sender %}-inverse {% else %}{% endif %}" >
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-3 text-left">
                <h5>
                {% if app.user == comment.receiver %}<span class="label label-success">Avis reçu de</span>
                {% else %}
                  <span class="label label-primary">Avis laissé pour</span>
                {% endif %}</h5>
                <h4>
                  {% if app.user == comment.receiver %}{{ comment.sender }}
                  {% else %}

                  <a class="cat-link"
                      href="{{ path('se_platform_user_view', {'userId': comment.receiver.id}) }}"
                      >{{ comment.receiver }}</a>

                  {% endif %}
                  </h4>
                <h4><small>le {{ comment.dateCreation|date('d/m/Y') }}</small></h4>
                <h5>Note : <span class="label label-default se-badge">{{ comment.rate }} / 5</span></h5>
              </div>
              <div class="col-md-9">
                <h4>{{ comment.advert.title }}</h4>
                <h5>{{ comment.content |nl2br }}</h5>
                {% if app.user == comment.sender %}
                     <div class='text-right'>
                       <a href="{{ path('se_platform_comment_edit', {'id': comment.id}) }}"
                       type="button"
                       class='btn btn-success'
                       title="Modifier">
                       Modifier
                       </a>
                       <a href="{{ path('se_platform_comment_delete', {'id': comment.id}) }}"
                           type="button"
                           class='btn btn-danger hide'
                           title="Supprimer">
                       Supprimer
                       </a>
                     </div>
               {% endif %}
              </div>
            </div>
            </div>
        </div>
          {% endfor %}
  </div>
</div>



   <div class="row">
       <div class="col-md-12 text-center">
           <ul class="pagination">
               {% if nbPages > 1 %}
                   {% for p in range(1, nbPages) %}
                       <li{% if p == page %} class="active"{% endif %}>
                           <a href="{{ path('se_platform_comment_user_list', {'page': p}) }}">{{ p }}</a>
                       </li>
                   {% endfor %}
               {% endif %}
           </ul>
       </div>
   </div>
{% endblock %}
