{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Mes avis laisés et reçus sur Top Artisan
{% endblock %}
{% block description %}
  <meta name="description" content="Consultez votre profil pour voir l'aperçu sur Top Artisan." />
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Mes avis</h3>
    {{ include('@SEPlatform/Comment/listUserFilter.html.twig') }}
  </div>
</div>

{% endblock %}
{% block layout_body %}

<div class="row">
  <div class="col-md-12">
    {% if app.user.isAcountComplete == 0 %}
        <div class="alert alert-warning" role="alert">
            Bonjour {{ app.user.username }}, Votre profil n'est pas complet, merci de le
            <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >compléter</a>
        </div>
    {% else %}
    <h4 class="cat-title">{{countComment}}</h4>

    {% for comment in listComment %}
          <div class="review-block">
            <div class="row">
              <div class="col-sm-3">
                <h5>{% if app.user == comment.receiver %}<span class="label label-success">Avis reçu</span>
                {% else %}
                  <span class="label label-primary">Avis laissé</span>
                {% endif %}</h5>
                <i class="glyphicon glyphicon-user se-user-icon"></i>
                <div class="review-block-name">
                    {% if app.user == comment.receiver %}
                      <a class="cat-link"
                          href="{{ path('se_platform_user_view', {'userId': comment.sender.id}) }}"
                          >{{ comment.sender }}</a>
                    {% else %}

                    <a class="cat-link"
                        href="{{ path('se_platform_user_view', {'userId': comment.receiver.id}) }}"
                        >{{ comment.receiver }}</a>
                    {% endif %}
                </div>
                <div class="review-block-date">{{ comment.dateCreation|date('d/m/Y') }}</div>
              </div>
              <div class="col-sm-9">
                  <div class="review-block-rate">
                    {{ include('@SEPlatform/User/small-rate.html.twig', {'item': comment }) }}
                  </div>
                  <div class="review-block-title">{{ comment.advert.title }}</div>
                  <div class="review-block-description"><h5>{{ comment.content |nl2br }}</h5></div>
                  {% if app.user == comment.sender %}
                       <div class='text-right'>
                         <a href="{{ path('se_platform_comment_edit', {'id': comment.id}) }}"
                         type="button"
                         class='btn btn-success'
                         title="Modifier">
                         Modifier
                         </a>
                       </div>
                 {% endif %}
              </div>
            </div>
          </div>
    {% endfor %}
      {% endif %}
  </div>
</div>

   <div class="row">
       <div class="col-md-12 text-center">
           <ul class="pagination">
               {% if nbPages > 1 %}
                   {% for p in range(1, nbPages) %}
                       <li{% if p == page %} class="active"{% endif %}>
                           <a href="{{ path('se_platform_comment_user_list', {'page': p}) }}">{{ p }}</a>
                       </li>
                   {% endfor %}
               {% endif %}
           </ul>
       </div>
   </div>
{% endblock %}
