{% extends "SEPlatformBundle::domo-layout.html.twig" %}

{% block title %}
    Domo dahsboard
{% endblock %}

{% block domo_body %}
<div class="row" >
  <div class="col-md-12 text-center" style="margin-top:-5px">
    <h4>{{ "now"|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y')}} ({{responseWeather.name}})</h4>
  </div>
</div>

<div class="jumbotron cont">
  <div class="row" >
      <div class="col-md-12">
        <div class="col-md-2 text-left">
            <div class="sun-icon img-sunrise"></div>
            <h4>{{ responseWeather.sys.sunrise|date('H:i', "Europe/Paris") }}</h4>
        </div>
        <div class="col-md-8 text-center">
            <div class="col-md-12 text-center">
              <div class="col-md-4 text-center">
                  <div>Min {{ responseWeather.main.temp_min|round }} C°</div>
                  <div class="temp">{{ responseWeather.main.temp|round }} C°</div>
              </div>
              <div class="col-md-4 text-center">
                  <div class="weather-icon img-{{ responseWeather.weather[0].icon }}"></div>
              </div>
              <div class="col-md-4 text-center">
                <div>Max {{ responseWeather.main.temp_max|round }} C°</div>
                  <div class="weather-desc">{{ responseWeather.weather[0].description }}</div>
              </div>
            </div>
          </div>
          <div class="col-md-2 text-right">
            <div class="sun-icon img-sunset"></div>
              <h4>{{ responseWeather.sys.sunset|date('H:i', "Europe/Paris") }}</h4>
          </div>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-12">
            {% for forecast in responseForecast.list|slice(0, 6) %}
                  <div class="col-md-2 text-center" style="margin-bottom:10px;">
                      <h4>{{ forecast.dt|date('H:i') }}</h4>
                      <div class="sun-icon img-{{ forecast.weather[0].icon }}"></div>
                      <div>{{ forecast.main.temp|round }} C°</div>
                  </div>
            {% endfor %}
        </div>
      </div>
</div>

<div class="row" >
  <div class="col-md-12 text-center" style="margin-top:30px;">
    <h3>Prévision</h3>
  </div>
</div>

<div class="jumbotron cont">
    <div class="row" >
      <div class="col-md-12">
        {% set tomorrow = 'now'|date_modify("+1 day") %}
        {% set tomorrow_1 = 'now'|date_modify("+2 day") %}
        <h4>{{ tomorrow|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y')}}</h4>
        {% for forecast in responseForecast.list %}
          {% if tomorrow|date("Y-m-d") == forecast.dt|date('Y-m-d') %}
              <div class="col-md-1 text-center" style="margin:0 15px 10px 15px;">
                  <h4>{{ forecast.dt|date('H:i') }}</h4>
                  <div class="sun-icon img-{{ forecast.weather[0].icon }}"></div>
                  <div>{{ forecast.main.temp|round }} C°</div>
              </div>
                {% endif %}
        {% endfor %}
        <h4>{{ tomorrow_1|localizeddate('none', 'none', null, null, 'EEEE d MMMM Y')}}</h4>
        {% for forecast in responseForecast.list %}
          {% if tomorrow_1|date("Y-m-d") == forecast.dt|date('Y-m-d') %}
              <div class="col-md-1 text-center" style="margin:0 15px 10px 15px;">
                  <h4>{{ forecast.dt|date('H:i') }}</h4>
                  <div class="sun-icon img-{{ forecast.weather[0].icon }}"></div>
                  <div>{{ forecast.main.temp|round }} C°</div>
              </div>
                {% endif %}
        {% endfor %}
      </div>
    </div>
</div>
  <div class="row">
          <div class="col-md-12">
            <div class="jumbotron cont">
            <div class="row">
                  <div class="col-md-12">
                    <h4 style="margin-top:0px" >Extérieur</h4>
                      <div class="cercle-icon-ext blue">
                        <div class="cercle-icon">
                          <span class="sensor-icon img-temperature"></span>
                          {{ local_sensor_outdoor.temperature|round }} C°
                        </div>
                      </div>
                      <div class="cercle-icon-ext blue">
                          <div class="cercle-icon">
                            <span class="sensor-icon img-humidity"></span>
                            {{ local_sensor_outdoor.humidity|round }} %
                          </div>
                    </div>
                    <div class="cercle-icon-ext blue">
                          <div class="cercle-icon">
                            <span class="sensor-icon img-pressure"></span>
                              <span>{{ (local_sensor_outdoor.pressure)|round }} hP</span>
                          </div>
                    </div>
                    <div class="cercle-icon-ext blue">
                          <div class="cercle-icon">
                            <span class="sensor-icon img-wind"></span>
                              <span>{{ (responseWeather.wind.speed * 3.6)|round }} Km/h</span>
                          </div>
                    </div>
                    {% if local_sensor_outdoor.rain >= 480 %}
                    <div class="cercle-icon-ext blue" >
                          <div class="cercle-icon">
                            <span class="sensor-icon img-rain"></span>
                              <span>{{ (local_sensor_outdoor.rain)|round }}</span>
                          </div>
                    </div>
                    {% else %}
                    <div class="cercle-icon-ext blue" >
                          <div class="cercle-icon">
                            <span class="sensor-icon img-no-rain"></span>
                              <span>{{ (local_sensor_outdoor.rain)|round }}</span>
                          </div>
                    </div>
                    {% endif %}
                    <div class="cercle-icon-ext gray">
                      <div class="cercle-icon">
                        <a class="sensor-icon img-camera-grey" href="{{ path('se_platform_domo_camera', {'camera_id': 1}) }}"></a>
                        Façade
                      </div>
                    </div>
                    <div class="cercle-icon-ext gray">
                      <div class="cercle-icon">
                        <a class="sensor-icon img-camera-grey" href="{{ path('se_platform_domo_camera', {'camera_id': 2}) }}"></a>
                        Porte
                      </div>
                    </div>
                    <div class="cercle-icon-ext gray">
                      <div class="cercle-icon">
                        <a class="sensor-icon img-camera-grey" href="{{ path('se_platform_domo_camera', {'camera_id': 3}) }}" ></a>
                        Jardin
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="jumbotron cont">
              <div class="row">
                    <div class="col-md-4">
                      <h4 style="margin-top:0px" >Séjour / Cuisine</h4>
                        <div class="cercle-icon-ext blue">
                          <div class="cercle-icon">
                            <span class="sensor-icon img-temperature"></span>
                            {{ local_sensor_indoor.temperatureSejour|round }} C°
                          </div>
                        </div>
                        <div class="cercle-icon-ext blue">
                            <div class="cercle-icon">
                              <span class="sensor-icon img-humidity"></span>
                              {{ local_sensor_indoor.humiditySejour|round }} %
                            </div>
                          </div>

                          {% if local_light_indoor.lightSejour == 1 %}
                          <div class="cercle-icon-ext orange">
                              <div class="cercle-icon">
                                <span class="sensor-icon img-light-white"></span>
                                  Séjour
                              </div>
                            </div>
                          {% else %}
                          <div class="cercle-icon-ext gray">
                              <div class="cercle-icon">
                                <span class="sensor-icon img-light-dark"></span>
                                  Séjour
                              </div>
                            </div>
                            {% endif %}

                            {% if local_light_indoor.lightCuisine == 1 %}
                            <div class="cercle-icon-ext orange">
                                <div class="cercle-icon">
                                  <span class="sensor-icon img-light-white"></span>
                                    Cuisine
                                </div>
                              </div>
                            {% else %}
                            <div class="cercle-icon-ext gray">
                                <div class="cercle-icon">
                                  <span class="sensor-icon img-light-dark"></span>
                                    Cuisine
                                </div>
                              </div>
                              {% endif %}

                      </div>
                      <div class="col-md-4">
                        <h4 style="margin-top:0px">Chambre 1</h4>
                        <div class="cercle-icon-ext blue">
                            <div class="cercle-icon">
                              <span class="sensor-icon img-temperature"></span>
                              {{ local_sensor_indoor.temperatureChambre1|round }} C°
                            </div>
                          </div>
                          <div class="cercle-icon-ext blue">
                              <div class="cercle-icon">
                                <span class="sensor-icon img-humidity"></span>
                                {{ local_sensor_indoor.humidityChambre1|round }} %
                              </div>
                        </div>

                        {% if local_light_indoor.lightChambre1 == 1 %}
                        <div class="cercle-icon-ext orange">
                            <div class="cercle-icon">
                              <span class="sensor-icon img-light-white"></span>
                            </div>
                          </div>
                        {% else %}
                        <div class="cercle-icon-ext gray">
                            <div class="cercle-icon">
                              <span class="sensor-icon img-light-dark"></span>
                            </div>
                          </div>
                          {% endif %}

                    </div>
                    <div class="col-md-4">
                      <h4 style="margin-top:0px">Chambre 2</h4>
                        <div class="cercle-icon-ext blue">
                          <div class="cercle-icon">
                            <span class="sensor-icon img-temperature"></span>
                            {{ local_sensor_indoor.temperatureChambre2|round }} C°
                          </div>
                        </div>
                        <div class="cercle-icon-ext blue">
                            <div class="cercle-icon">
                              <span class="sensor-icon img-humidity"></span>
                              {{ local_sensor_indoor.humidityChambre2|round }} %
                            </div>
                      </div>
                      {% if local_light_indoor.lightChambre2 == 1 %}
                      <div class="cercle-icon-ext orange">
                          <div class="cercle-icon">
                            <span class="sensor-icon img-light-white"></span>
                          </div>
                        </div>
                      {% else %}
                      <div class="cercle-icon-ext gray">
                          <div class="cercle-icon">
                            <span class="sensor-icon img-light-dark"></span>
                          </div>
                        </div>
                        {% endif %}
                  </div>
                </div>

          </div>
      </div>
</div>


{% endblock %}
