{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.messageKey|trans(error.messageData, 'security') }}
            <br>
            Pensez à activer votre compte en cliquant sur le lien reçu, ou créer un compte.
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

        <div class="form-group">
            <label for="username" class="control-label required">{{ 'security.login.username'|trans }}</label>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>

        <div class="form-group">
            <label for="password" class="control-label required">{{ 'security.login.password'|trans }}</label>
            <input type="password" class="form-control se-password" id="password" name="_password" required="required" />
            <a href="{{ path('fos_user_resetting_request') }}" class="cat-link se-password" >
                Mot de passe oublié
            </a>
        </div>

        <div class="form-group">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
        <div class="text-center">
          <a href="{{ path('fos_user_registration_register') }}"  class="btn btn-default">
              Créer un compte
          </a>
            <input type="submit"
                   class="btn btn-primary"
                   id="_submit"
                   name="_submit"
                   value="{{ 'security.login.submit'|trans }}" />


        </div>
    </form>
{% endblock fos_user_content %}
