{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
  {{advert.title}} - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
      <h5 class="cat-title" id="item_title">
        <a href="{{ path('se_platform_homepage') }}" >
          Accueil
        </a>
          >
      <a href="{{ path('se_platform_advert_list') }}" >
        Toutes les annonces
      </a>
        >
        <a href="{{ path('se_platform_advert_list' , {'category' : advert.category.id }) }}" >
        {{advert.category.labelNormal}}
        </a>
        >
        {{ advert.title }}
    </h5>
    <h3 class="cat-title" id="item_title_resp">{{ advert.title }}</h3>
  </div>
</div>
{% endblock %}
{% block layout_body %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      {% for flash_message in app.session.flashBag.get('addSuccess') %}
          <div class="alert alert-success text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ flash_message }}
          </div>
      {% endfor %}
      {% for flash_message in app.session.flashBag.get('error') %}
          <div class="alert alert-danger text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ flash_message }}
          </div>
      {% endfor %}
  </div>
  <div class="col-md-2"></div>
</div>
  <div class="row">
       <div id="content" class="col-md-12">

         <div class="col-md-6">
           <div class="panel panel-primary">
             <div class="panel-heading">
                <h4 class="truncate">
                  {{ advert.title }}
                </h4>
             </div>
              <div class="panel-body text-center">
                 {% if advert.image == null %}
                 <img class="se-img" src="{{ asset(advert.webPathNoImage) }}" alt="{{ asset(advert.webPathNoImage) }}">
                 {% else %}
                     <img class="se-img" src="{{ asset(advert.image.webPath) }}" alt="{{ asset(advert.image.webPath) }}">
                 {% endif %}
              </div>
            </div>
         </div>

         <div class="col-md-6" >
           <div class="col-md-4">
             <div class="alert alert-light" role="alert" style="color: #484848">
               <p><b>Date : </b></p>
               <p><b>Catégorie : </b></p>
               <p><b>Ville : </b></p>
              </div>
           </div>
           <div class="col-md-8">
             <div class="alert alert-info" role="alert" style="color: #484848">
                   <p>{{ advert.dateCreation|date('d/m/Y') }} à {{ advert.dateCreation|date('H:m') }}</p>
                   <p>{% if advert.category.labelNormal != 'Autres' %}
                       {{ advert.category.labelNormal }}
                   {% else %}
                       Sans catégorie
                   {% endif %}</p>
                    <p>{{ advert.PostalCode.city.labelNormal }} ({{ advert.PostalCode.value }})</p>

                    </p>
              </div>
           </div>
           <div class="col-md-4">
             <div class="alert alert-light" role="alert" style="color: #484848">
             <p><b>Demandeur : </b></p>
             <p><b>Contact : </b></p>
               </div>
           </div>
           <div class="col-md-8">
               <div class="alert alert-info" role="alert" style="color: #484848">
                   <p><a href="{{ path('se_platform_user_view', {'userId': advert.user.id}) }}" class="se-link" >{{ advert.user }} </a></p>
                   <p>{% if advert.user.isDetailVisible %}
                   {{ advert.user.phoneNumber|split('', 2)|join(' ') }}
                   {% else %}
                      Désolé, le demandeur ne souhaite pas afficher ses coordonnées.
                   {% endif %}
              </div>
            </div>

            <div class="col-md-4">
              <div class="alert alert-light" role="alert" style="color: #484848">
                <p><b>Nombre d'offre : </b></p>
              </div>
            </div>
            <div class="col-md-8">
                <div class="alert alert-info" role="alert" style="color: #484848">
                    <p>{{ render(controller('SEPlatformBundle:Auction:getNbAuction', { 'advertId': advert.id })) }}
                      {% if advert.auctionState == 0 %}
                       {% else %}
                       <a class="se-link"
                           data-toggle="modal"
                           role="button"
                           data-toggle="modal"
                           data-target="#modalAuctionShow"
                           >(Historique des offres)</a>
                        {% endif %}
                    </p>
               </div>
             </div>

             <div class="col-md-4">
               <div class="alert alert-light" role="alert" style="color: #484848">
                 <p><b>J'aimerais : </b></p>
                </div>
             </div>
             <div class="col-md-8 text-center">
               <div class="alert alert-warning" role="alert" style="color: #484848">
                 {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                     {% if advert.user !=  app.user %}
                           <a href="{{ path('se_platform_auction_add', {'advertSlug': advert.slug,'advertId': advert.id}) }}" class="btn btn-success">
                               Faire une offre
                           </a>
                           <a href="{{ path('se_platform_message_add',
                           {'advertSlug': advert.slug,
                           'advertId': advert.id,
                           'receiveId': advert.user.id,
                           'isAnswer':0
                           }) }}" class="btn btn-success">
                               Contacter le demandeur
                           </a>
                     {% else %}
                         Rien faire, je suis proprétaire de l'annonce
                     {% endif %}
                 {% else %}
                   <a href="{{ path('se_platform_auction_add', {'advertSlug': advert.slug,'advertId': advert.id}) }}" class="btn btn-success">
                       Faire une offre
                   </a>
                   <a href="{{ path('se_platform_message_add', {'advertSlug': advert.slug,'advertId': advert.id, 'receiveId': advert.user.id, 'isAnswer':0}) }}" class="btn btn-success">
                       Contacter le demandeur
                   </a>
                  {% endif %}
                </div>
             </div>

          </div>
       </div>
   </div>
   <div class="row">
     <div id="content" class="col-md-12">

        <div class="col-md-6">
          <div class="col-md-12">
              <p><b>Détail : </b></p>
          </div>
           <div class="col-md-12">
              <div class="alert alert-light" role="alert" style="color: #484848">
                <p>{{ advert.detail |nl2br }}</p>
              </div>
           </div>
         </div>


    </div>
   </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="modal fade"
           id="modalAuctionShow"
           tabindex="-1"
           role="dialog"
           aria-labelledby="modalAuctionShowLabel">
              <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Historique des offres</h4>
                </div>
                <div class="modal-body text-center">
                  {{ render(controller('SEPlatformBundle:Auction:list', { 'advertId': advert.id })) }}
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
{% endblock %}
