{% extends "SELayoutBundle::layout.html.twig" %}

{% block title %}
    Mes conversations - {{ parent() }}
{% endblock %}

{% block se_layout_body %}

        <div class="well slogan-well">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="cat-title">Mes conversations</h3>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="well se-well">
        <div class="index-container" >
            <div class="row">
                 <div id="content" class="col-md-12">
                     <h4 class="cat-title">{{countConversation}} conversations</h4>
                     {% for conversation in listConversation %}
                        <div class="col-sm-12">
                            <div class="thumbnail">
                                <div class="caption">
                                    <h4>{{ conversation.advert.title }}</h4>
                                    <p>{{ conversation.dateCreation|date('d/m/Y') }} à {{ conversation.dateCreation|date('H:m') }}</p>
                                    <p>
                                        <a href="{{ path('se_auction_message_list',{'id':conversation.id}) }}" class="btn btn-success">
                                    <i class="glyphicon glyphicon-comment"></i>
                                        Voir
                                    </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% else %}
                            <div>Pas (encore !) de messages envoyés</div>
                        {% endfor %}
                 </div>
            </div>
        </div>
    </div>
    {{ include('@SEAuction/Commun/pagination.html.twig') }}
   
{% endblock %}
