{% extends "SELayoutBundle::layout.html.twig" %}

{% block title %}
    Mes demandes d'information - {{ parent() }}
{% endblock %}

{% block se_layout_body %}

        <div class="well slogan-well">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="cat-title">Mes demandes d'information</h3>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="well se-well">
        <div class="index-container" >
            <div class="row">
                 <div id="content" class="col-md-12">
                     <h4 class="cat-title">{{countMessage}}</h4>
                     <table class="table" id="tblGrid">
                        <tbody>
                            {% for msg in listMessage %}
                                <tr>
                                    <td class='text-left'>
                                        <h5>
                                            {{ msg.dateCreation|date('d/m/Y') }} à
                                            {{ msg.dateCreation|date('H:i:s') }}
                                        </h5>
                                    </td>
                                    <td class='text-center'>
                                        <h5>
                                            <a href="{{ path('se_user_view', {'id': msg.receiver.id}) }}" class="se-tbl-link" >
                                                {{ msg.receiver }}
                                            </a>
                                            
                                        </h5>
                                    </td>
                                    <td>
                                        <h5>
                                            <a class='se-tbl-link' href="{{ path('se_auction_advert_view', {'id': msg.advert.id}) }}">{{ msg.advert.title }}</a>
                                        </h5>
                                    </td>
                                    <td>
                                        <p>
                                        <a href="{{ path('se_auction_advert_message_list',{'advertId':msg.advert.id, 'senderId': msg.sender.id }) }}" class="btn btn-success">
                                        <i class="glyphicon glyphicon-comment"></i>
                                            Voir
                                        </a>
                                        </p>
                                    </td>
                                </tr>
                            {% else %}
                                <div>Pas (encore !) de messages</div>
                            {% endfor %}
                     </tbody>
                     </table>
                 </div>
            </div>
        </div>
    </div>
    {{ include('@SEAuction/Commun/pagination.html.twig') }}
   
{% endblock %}


