{% extends "SELayoutBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block se_layout_body %}
    <div class="index-container" >
        <div class="row">
            <div class="col-md-4">
                <h4 class="cat-title">Toutes les pages du sites </h4>
                <ul class="ul-cat">

                    <li><a href="{{ path('se_layout_homepage') }}">index</a></li>
                    <li><a href="{{ path('se_layout_cgu') }}">conditions-generales-d-utilisations</a></li>
                    <li><a href="{{ path('se_layout_cgv') }}">conditions-generales-de-vente</a></li>
                    <li><a href="{{ path('se_layout_contact') }}">nous-contacter</a></li>
                    <li><a href="{{ path('se_layout_help') }}">aide</a></li>
                    <li><a href="{{ path('se_layout_join') }}">nous-rejoindre</a></li>
                    <li><a href="{{ path('se_layout_resum') }}">qui-sommes-nous</a></li>

                    <li><a href="{{ path('se_portal_advert_list') }}">annonce/liste/{page}</a></li>
                    <li><a href="{{ path('se_portal_advert_list_by_region', { 'region': 'dom' }) }}">annonce/region/dom/1</a></li>
                    <li><a href="{{ path('se_portal_advert_list_by_category', { 'category': 'automobile' }) }}">annonce/category/automobile</a></li>
                    <li><a href="{{ path('se_portal_advert_view', {'id': '1'}) }}">annonce/1</a></li>
                    <li><a href="{{ path('se_portal_advert_add') }}">annonce/deposer</a></li>
                    <li><a href="{{ path('se_portal_advert_edit', {'id': '1'}) }}">annonce/modifier/1</a></li>
                    <li><a href="{{ path('se_portal_advert_delete', {'id': '1'}) }}">annonce/supprimer/1</a></li>
                    <li><a href="{{ path('se_portal_account_dashboard') }}">tableau-de-bord</a></li>
                    <li><a href="{{ path('se_portal_account_profile') }}">mon-profile</a></li>
                    <li><a href="{{ path('se_portal_auction_list_by_user') }}">tableau-de-bord/mes-encheres/1</a></li>
                    <li><a href="{{ path('se_portal_advert_list_by_user') }}">tableau-de-bord/mes-annonces/1</a></li>

                </ul>
            </div>
        </div>
    </div>




{% endblock %}