<div class="well well-sm well-footer">
    <div class="row">
        <div class="col-md-4">
            <h5>À propos</h5>
            <ul class="ul-footer">
                <li><a href="{{ path('se_layout_resum') }}">Qui sommes-nous ?</a></li>
                <li><a href="{{ path('se_layout_join') }}">Nous rejoindre</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-footer">
            <h5>Informations légales</h5>
            <ul class="ul-footer">
                <li><a href="{{ path('se_layout_cgu') }}">Conditions Générales d'Utilisation</a></li>
                <li><a href="{{ path('se_layout_cgv') }}">Conditions Générales de Vente</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-footer">
            <h5>Des questions ?</h5>
            <ul class="ul-footer">
                <li><a href="{{ path('se_layout_help') }}">Aide</a></li>
                <li><a href="{{ path('se_layout_contact') }}">Nous contacter</a></li>
            </ul>
        </div>
    </div>
    <!-- PAGE - FOOTER - COPY -->
    <div id="footer" class="copyr">
        <footer>
            <p>Tous droits réservés. COPYRIGHT © {{ 'now'|date('Y') }} Service Enchère.</p>
            <!--   <a href="{{ path('se_layout_allpage') }}">All page</a> -->
        </footer>
    </div>
</div>
