<!-- NEW -->
<nav class="navbar navbar-default se-header">
    <div class="container-fluid">
        <!-- LEFT - LOGO -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand se-color-1 logo" href="{{ path('se_layout_homepage') }}">
                <img src="../../css/img/about-us-5.png" class="logo_img"/>
                <span style="vertical-align: -webkit-baseline-middle;">Service €nchère</span>
            </a>
        </div>

        <!-- RIGTH - MENU -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('se_auction_advert_list')  }}">
                        Toutes les demandes
                    </a>
                </li>
                <li>
                    <a href="{{ path('se_auction_advert_add') }}">
                        Déposer une demande
                    </a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" 
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-user"  data-toggle="tooltip" 
                                   data-placement="bottom" title="Mon compte">
                                </i>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('se_auction_advert_list_by_user') }}">Mes demandes</a></li>
                                <li><a href="{{ path('se_auction_auction_list_by_user') }}">Mes propositions</a></li>
                                <li><a href="{{ path('fos_user_profile_edit') }}" >Mon compte</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">
                                Se connecter
                            </a>
                        </li>
                    {% endif %}
            </ul>
        </div>
    </div>
</nav>