{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Conversations pour la demande {{advert.title}} - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Conversations pour la demande "{{advert.title}}"</h3>
  </div>
</div>
{% endblock %}

{% block layout_body %}
<div class="row">
  <div class="col-md-12">
      <blockquote>
        {{countMessage}}
      </blockquote>
      <h5>
          <a href="{{ path('se_platform_message_answer',
                    {'advertSlug': advert.slug,
                      'advertId': advertId,
                      'senderId': senderId,
                      'receiveId': receiveId,
                      'isAnswer':1
          }) }}" class="btn btn-primary">
              Répondre
          </a>
      </h5>
        {% for conversation in listConversation %}
        <div  class="well well-msg{% if app.user == conversation.sender %}-inverse {% else %}{% endif %}" >
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-3 text-left">
                <h4>
                {% if app.user == conversation.receiver %}{{ conversation.sender }} {% else %}Vous{% endif %}</h4>
                <h4><small>{{ conversation.dateCreation|date('d/m/Y') }} à {{ conversation.dateCreation|date('H:i:s') }}</small></h4>
              </div>
              <div class="col-md-9">
                <h5>{{ conversation.content |nl2br }}</h5>
              </div>
            </div>
            </div>
        </div>
          {% endfor %}
  </div>
</div>
{% endblock %}
