
    <form id="form_recherche" action="" method="get">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 filter">
                        <select class="form-control"
                                name="advert"
                                id="advert_id" >
                            <option value='0' >Toutes les annonces</option>
                            <optgroup label="Mes annonces">
                              {% for advert in listAdvertUser %}
                                  <option {{ app.request.query.get('advert')== advert.id ? ' selected ' : ' ' }}
                                      value={{ advert.id }}>{{ advert.title }}
                                  </option>
                              {% endfor %}
                          </optgroup>
                            <optgroup label="Mes demandes d'information">
                            {% for advert in listAdvertMessage %}
                                <option {{ app.request.query.get('advert')== advert.id ? ' selected ' : ' ' }}
                                    value={{ advert.id }}>{{ advert.title }}
                                </option>
                            {% endfor %}
                            </optgroup>
                        </select>
                </div>

                <div class="col-md-4 filter">
                    <input class="btn btnIcon-search" type="submit" value="Afficher"  />
                </div>
                <div class="col-md-4 filter">
                  <a href="{{ path('se_platform_message_user_list') }}"
                            type="button" class="btn btnIcon-search" >
                             Réinitialiser
                  </a>
                </div>
              </div>
        </div>
    </form>
