{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Mes messages - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Mes messages</h3>
    {{ include('@SEPlatform/Message/listUserFilter.html.twig') }}
  </div>
</div>
{% endblock %}

{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         {% if app.user.isAcountComplete == 0 %}
             <div class="alert alert-warning" role="alert">
                 Bonjour {{ app.user.username }}, Votre profil n'est pas complet, merci de le
                 <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >compléter</a>
             </div>
         {% else %}
        <h4 class="cat-title">{{countMessage}}</h4>
        <table class="table" id="tblGrid">

                       <tbody>
                           {% for msg in listMessage %}
                               <tr>
                                 <td class='text-center'>
                                   <h5>
                                       {{ msg.dateCreation|date('d/m/Y') }}
                                       <h5>
                                         {{ msg.dateCreation|date('H:i:s') }}
                                        </h5>
                                   </h5>
                                 </td>
                                 <td class='text-left'>
                                   <h5>
                                     {% if app.user != msg.sender %}
                                         <a href="{{ path('se_platform_user_view', {'userId': msg.sender.id}) }}" class="se-tbl-link" >
                                             {{ msg.sender }}
                                         </a>
                                         <h5>
                                           {{ include('@SEPlatform/User/rate.html.twig', {'item': msg.sender }) }}
                                         </h5>
                                     {% else  %}
                                         <a href="{{ path('se_platform_user_view', {'userId': msg.advert.user.id}) }}" class="se-tbl-link" >
                                             {{ msg.advert.user }}
                                         </a>
                                         <h5>
                                           {{ include('@SEPlatform/User/rate.html.twig', {'item': msg.advert.user }) }}
                                         </h5>
                                     {% endif %}

                                   </h5>
                                 </td>
                                 <td>
                                     <h5>
                                         <a class='se-tbl-link' href="{{ path('se_platform_advert_view', {'slug': msg.advert.slug,'id': msg.advert.id}) }}">{{ msg.advert.title }}</a>
                                         <h5>
                                           {{ msg.advert.category.labelNormal }}
                                         </h5>

                                     </h5>
                                 </td>

                                 <td class='text-left td_center'>
                                     <h5>
                                     {% if msg.advert.isPublished == 1 %}
                                         <span class="label label-warning">En cours</span>
                                     {% elseif msg.advert.isPublished == 0 and msg.advert.auctionState == 0 %}
                                         <span class="label label-default">Validation en cours</span>
                                     {% elseif msg.advert.isPublished == 0 and msg.advert.auctionState == 1 %}
                                         <span class="label label-success">Terminée</span>
                                         <div class="label label-success"
                                               data-toggle="tooltip"
                                                     data-placement="bottom" title="La demande n'est plus visible sur le site">
                                          <i class="glyphicon glyphicon-info-sign"> </i>
                                         </div>
                                     {% endif %}
                                     </h5>
                                 </td>
                                 <td>
                                        <p>
                                          <a href="{{ path('se_platform_message_advert_list',{'advertId':msg.advert.id, 'senderId': msg.sender.id, 'receiverId': msg.receiver.id }) }}" class="btn btn-success">
                                        <i class="glyphicon glyphicon-comment"></i>
                                            Conversation
                                        </a>
                                        </p>
                                    </td>
                               </tr>
                           {% else %}
                               <div>Pas de messages</div>
                           {% endfor %}
                    </tbody>
                    </table>
             {% endif %}
       </div>
   </div>
{% endblock %}
