{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Mes messages - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Mes messages envoyés - En tant qu'enchérisseur</h3>
    {{ include('@SEPlatform/Message/listUserSendFilter.html.twig') }}
  </div>
</div>
{% endblock %}

{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         <ul class="nav nav-tabs nav-justified">
           <li role="presentation" ><a href="{{ path('se_platform_message_user_receive') }}">Message reçus (Mes demandes)</a></li>
           <li role="presentation" class="active"><a href="{{ path('se_platform_message_user_send') }}">Message envoyés (Demandes des clients)</a></li>
         </ul>
        <h4 class="cat-title">{{countMessage}}</h4>
        <table class="table" id="tblGrid">

                       <tbody>
                           {% for msg in listMessage %}
                               <tr>
                                 <!--<td class="text-center hidden-xs hidden-sm">
                                   {% if app.user.isNewMessage and msg.receiver == app.user and msg.advert.isNewMessage %}
                                      <span class="label label-danger">Non lu</span>
                                  {% endif %}
                                </td>-->
                                 <td class="text-center">
                                     {{render(controller('SEPlatformBundle:Message:lastDateCreation',  {'advertId': msg.advert.id, 'receiverId' : msg.receiver.id }))}}
                                </td>
                                <td>
                                    <h5>
                                        <a class='se-tbl-link hidden-xs hidden-sm' href="{{ path('se_platform_advert_view', {'slug': msg.advert.slug,'id': msg.advert.id}) }}">{{ msg.advert.title }}</a>
                                      </h5>
                                </td>
                                 <td class='text-left'>
                                   <h5>
                                       <a href="{{ path('se_platform_user_view', {'userId': msg.advert.user.id}) }}" class="se-tbl-link" >
                                           {{ msg.advert.user }}
                                       </a>
                                  </h5>
                                  <h5>
                                       <a class='se-tbl-link visible-xs visible-sm' href="{{ path('se_platform_advert_view', {'slug': msg.advert.slug,'id': msg.advert.id}) }}">{{ msg.advert.title }}</a>
                                   </h5>
                                 </td>
                                 <td class='text-left td_center'>
                                     <h5 class="hidden-xs hidden-sm">
                                         {% if msg.advert.isPublished == 1 %}
                                             <span class="label label-warning">En cours</span>
                                         {% elseif msg.advert.isPublished == 0 and msg.advert.auctionState == 0 %}
                                         {% elseif msg.advert.isPublished == 0 and msg.advert.auctionState == 1 %}
                                             <span class="label label-success">Terminée</span>
                                             <div class="label label-success"
                                                   data-toggle="tooltip"
                                                         data-placement="bottom" title="La demande n'est plus visible sur le site">
                                              <i class="glyphicon glyphicon-info-sign"> </i>
                                             </div>
                                         {% endif %}
                                     </h5>
                                 </td>
                                 <td>
                                   <p>
                                   <a href="{{ path('se_platform_message_answer',
                                             {'advertSlug': msg.advert.slug,
                                               'advertId': msg.advert.id,
                                               'senderId': msg.sender.id,
                                               'receiveId': msg.advert.user.id,
                                               'isAnswer':1
                                   }) }}" class="btn btn-primary">
                                       Voir
                                   </a>
                                   </p>


                                    </td>
                               </tr>
                           {% else %}
                               <div>Pas de messages</div>
                           {% endfor %}
                    </tbody>
                    </table>
       </div>
   </div>
{% endblock %}
