{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Mes messages - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Messages en tant que jobber</h3>
    {{ include('@SEPlatform/Message/listUserSendFilter.html.twig') }}
  </div>
</div>
{% endblock %}

{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         {% if app.user.isAcountComplete == 0 %}
             <div class="alert alert-warning" role="alert">
                 Bonjour {{ app.user.username }}, Votre profil n'est pas complet, merci de le
                 <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >compléter</a>
             </div>
         {% else %}
         <ul class="nav nav-tabs nav-justified">
           <li role="presentation" ><a href="{{ path('se_platform_message_user_receive') }}">Messages en tant que demandeur</a></li>
           <li role="presentation" class="active"><a href="{{ path('se_platform_message_user_send') }}">Messages en tant que jobber</a></li>
         </ul>
        <h4 class="cat-title">{{countMessage}}</h4>
        <table class="table" id="tblGrid">

                       <tbody>
                           {% for msg in listMessage %}
                               <tr>
                                 <td class="text-center hidden-xs hidden-sm">
                                    {{render(controller('SEPlatformBundle:Message:countMessage',  {'advertId': msg.advert.id, 'receiverId' : msg.advert.user.id, 'senderId' : app.user.id }))}}
                                </td>
                                 <td class="text-center">
                                     {{render(controller('SEPlatformBundle:Message:lastDateCreation',  {'advertId': msg.advert.id, 'receiverId' : msg.advert.user.id, 'senderId' : app.user.id }))}}
                                </td>
                                <td class='text-left'>
                                  <h5>
                                      <a href="{{ path('se_platform_user_view', { 'userId': msg.advert.user.id}) }}" class="se-tbl-link" >
                                          {{ msg.advert.user }}
                                      </a>
                                 </h5>
                                 <h5>
                                      <a class='se-tbl-link visible-xs visible-sm' href="{{ path('se_platform_auction_add', {'advertSlug': msg.advert.slug,'advertId': msg.advert.id}) }}">{{ msg.advert.title }}</a>
                                  </h5>
                                </td>
                                <td>
                                    <h5>
                                        <a class='se-tbl-link hidden-xs hidden-sm' href="{{ path('se_platform_auction_add', {'advertSlug': msg.advert.slug,'advertId': msg.advert.id}) }}">{{ msg.advert.title }}</a>
                                      </h5>
                                </td>

                                 <td class='text-left td_center'>
                                     <h5 class="hidden-xs hidden-sm">
                                         {% if msg.advert.isPublished == 1 %}
                                             <span class="label label-warning">En cours</span>
                                         {% elseif msg.advert.isPublished == 0 and msg.advert.auctionState == 0 %}
                                         {% elseif msg.advert.isPublished == 0 and msg.advert.auctionState == 1 %}
                                             <span class="label label-success">Terminée</span>
                                             <div class="label label-success"
                                                   data-toggle="tooltip"
                                                         data-placement="bottom" title="La demande n'est plus visible sur le site">
                                              <i class="glyphicon glyphicon-info-sign"> </i>
                                             </div>
                                         {% endif %}
                                     </h5>
                                 </td>
                                 <td>
                                   <p>
                                   <a href="{{ path('se_platform_message_answer',
                                             {'advertSlug': msg.advert.slug,
                                               'advertId': msg.advert.id,
                                               'senderId': msg.sender.id,
                                               'receiveId': msg.advert.user.id,
                                               'isAnswer':1,
                                               'msgId' : render(controller('SEPlatformBundle:Message:idLastMessage',  {'advertId': msg.advert.id, 'receiverId' : msg.advert.user.id, 'senderId' : app.user.id }))
                                   }) }}" class="btn btn-primary">
                                       Voir
                                   </a>
                                   </p>


                                    </td>
                               </tr>
                           {% else %}
                               <div>Pas de messages</div>
                           {% endfor %}
                    </tbody>
                    </table>
            {% endif %}
       </div>
   </div>
{% endblock %}
