<div>
  <p>Bonjour <b>{{ receiver }}</b></p>
  <p>Vous avez reçu un nouveau message de la part de <b>{{senderName}}</b></p>

  <div class="alert alert-success">
    <p><b>Nom :</b> {{ senderName }}</p>
    <p><b>Mail :</b> <a chref="mailto:{{ senderMail }}">{{ senderMail }}</a></p>
    <p><b>Message :</b></p>
    <p style="padding-left:20px">{{content|nl2br}}</p>
  </div>
  <div class="alert alert-danger">
    <p>Ne répondez pas à ce message, utilisez l'adresse mail de la personne qui vous a contacté, son adresse : {{ senderMail }} </p>
  </div>
</div>
