{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
  Modifier la demande "{{advert.title}}" - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
  <div class="row">
    <div id="header" class="col-md-12">
      <h3 class="cat-title">Modifier la demande "{{advert.title}}"</h3>
    </div>
  </div>
{% endblock %}
{% block layout_body %}
  <div class="row">
      <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          {% for flash_message in app.session.flashBag.get('editSuccess') %}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="alert alert-success text-center" role="alert">
                  {{ flash_message }}
              </div>
          {% endfor %}
           {{ include('SEPlatformBundle:Advert:form.html.twig') }}
        </div>
        <div id="content" class="col-md-3"></div>
     </div>
  </div>
{% endblock %}
