{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
  Modifier la demande "{{advert.title}}" - {{advert.category.labelNormal}}
{% endblock %}
{% block description %}
  <meta name="description" content="Vous n'avez pas trouvé un bon jobber pour votre demande, consultez la page des jobbers." />
{% endblock %}

{% block layout_header2 %}
  <div class="row">
    <div id="header" class="col-md-12">
      <h3 class="cat-title"><p class="trunc">Modifier la demande "{{advert.title}}"</p></h3>
    </div>
  </div>
{% endblock %}
{% block layout_body %}
  <div class="row">
      <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          {% if advert.isPublished == 0 %}
              <div class="alert alert-info text-center" role="alert">
                  La demande est hors ligne.
                  <br>
                    {% if advert.commentState == 1 %}
                      Car vous avez déjà trouvé un jobber.
                    {% endif %}
              </div>
              {% else %}
              <div class="alert alert-info text-center" role="alert">
                  Après la modification, la demande sera hors ligne pour validation.
              </div>
              {% endif %}
          {% for flash_message in app.session.flashBag.get('editSuccess') %}
              <div class="alert alert-success text-center" role="alert">
                  {{ flash_message }}
              </div>
          {% endfor %}
           {{ include('SEPlatformBundle:Advert:form.html.twig') }}
        </div>
        <div class="col-md-3"></div>
     </div>
  </div>
{% endblock %}
