{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Mes Demandes de services sur Service Enchère
{% endblock %}
{% block description %}
  <meta name="description" content="Vous cherchez un jobber à votre demande, déposez votre tâche ici. C'est gratuit." />
{% endblock %}

{% block layout_header2 %}
  <div class="row">
    <div id="header" class="col-md-12">
      <h3 class="cat-title">Mes demandes</h3>
        {{ include('@SEPlatform/Advert/listUserFilter.html.twig') }}
    </div>
  </div>
{% endblock %}
{% block layout_body %}
<div class="row">
<div class="col-md-2"></div>
  <div class="col-md-8">
      {% for flash_message in app.session.flashBag.get('addSuccess') %}
          <div class="alert alert-success text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ flash_message }}
          </div>
      {% endfor %}
      {% for flash_message in app.session.flashBag.get('info') %}
          <div class="alert alert-info text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ flash_message }}
          </div>
      {% endfor %}
      {% for flash_message in app.session.flashBag.get('error') %}
          <div class="alert alert-danger text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ flash_message }}
          </div>
      {% endfor %}
  </div>
  <div class="col-md-2"></div>
</div>
  <div class="row">

       {% if app.user.isAcountComplete == 0 %}
           <div class="alert alert-warning" role="alert">
               Bonjour {{ app.user.username }}, Votre profil n'est pas complet, merci de le
               <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >compléter</a>
           </div>
       {% else %}
       <div id="content" class="col-md-12">
         <div class="form-group hidden-xs hidden-sm">
           <a class="btn btn-primary" href="{{ path('se_platform_advert_add') }}">Déposer une nouvelle demande</a>
         </div>
         <div class="form-group visible-xs visible-sm">
           <a class="btn btn-primary btn-block" href="{{ path('se_platform_advert_add') }}">Déposer une nouvelle demande</a>
         </div>
         <h4 class="cat-title">{{ titleResult }}</h4>
            <table class="table" id="tblGrid">
                <tbody>
                {% for advert in listAdvertUser %}
                    <tr>
                        <td class="text-left">
                            <h5>
                              <h5 class="visible-xs visible-sm text-right">
                              {% if advert.isPublished == 1 %}
                                  <span class="label label-success">En ligne</span>
                              {% else %}
                                  <span class="label label-danger">Hors ligne</span>
                              {% endif %}

                              </h5>
                                <a class='se-tbl-link' href="{{ path('se_platform_advert_view_user', {'id': advert.id}) }}"><p class="trunc">{{ advert.title }}</p></a>
                                <h5 class="visible-xs visible-sm">
                                    {{ render(controller('SEPlatformBundle:Auction:getNbAuction', { 'advertId': advert.id })) }}
                                </h5>
                                <h5 class="visible-xs visible-sm">
                                  <a class="btn btn-success btn-block"
                                      data-toggle="modal"
                                      role="button"
                                      data-toggle="modal"
                                      data-target="#modalAuctionShow_{{advert.id}}"
                                      >Historique des offres</a>
                                      <a href="{{ path('se_platform_advert_edit', {'slug': advert.slug,'id': advert.id}) }}"
                                        type="button"
                                        class='btn btn-primary btn-block'
                                        title="Modifier la demande">
                                        Modifier
                                      </a>
                                      {% if advert.isPublished == 1 %}
                                        <a class='btn btn-primary btn-block'
                                              data-toggle="modal"
                                              role="button"
                                              data-toggle="modal"
                                              title="Désactiver la demande"
                                              data-target="#modalAdvertDisabled_{{advert.id}}" >Désactiver</a>
                                          {% endif %}
                                          <a class='btn btn-danger btn-block'
                                                data-toggle="modal"
                                                role="button"
                                                data-toggle="modal"
                                                  title="Supprimer la demande"
                                                data-target="#modalAdvertDelete_{{advert.id}}" >
                                                Supprimer
                                            </a>
                                </h5>
                                <h5 class="hidden-xs hidden-sm">
                                  {{ advert.category.labelNormal }}
                                </h5>
                                <h5 class="hidden-xs hidden-sm">
                                  {{ advert.dateCreation|date('d/m/Y') }}
                                  à
                                  {{ advert.dateCreation|date('H:i:s') }}
                                </h5>
                            </h5>
                        </td>
                        <td class="text-left">
                            <h5 class="hidden-xs hidden-sm">
                            {% if advert.isPublished == 1 %}
                                <span class="label label-success">En ligne</span>
                            {% else %}
                                <span class="label label-danger">Hors ligne</span>
                            {% endif %}
                            </h5>
                        </td>
                        <td class="text-right">
                          <h5 class="hidden-xs hidden-sm">
                            <a class="btn btn-success"
                                data-toggle="modal"
                                role="button"
                                data-toggle="modal"
                                data-target="#modalAuctionShow_{{advert.id}}"
                                >Historique des offres</a>
                          </h5>
                        </td>
                        <td class="">
                          <h5 class="hidden-xs hidden-sm text-right">
                              {{ render(controller('SEPlatformBundle:Auction:getNbAuction', { 'advertId': advert.id })) }}
                          </h5>
                        </td>
                        <td class='text-right hidden-xs hidden-sm'>
                          <div class="btn-group btn-group" role="group" aria-label="...">
                              <div class="btn-group" role="group">
                                <a href="{{ path('se_platform_advert_edit', {'slug': advert.slug,'id': advert.id}) }}"
                                  type="button"
                                  class='btn btn-primary'
                                  title="Modifier la demande">
                                  Modifier
                                </a>
                              </div>
                              <div class="btn-group" role="group">
                                {% if advert.isPublished == 1 %}
                                  <a class='btn btn-primary'
                                        data-toggle="modal"
                                        role="button"
                                        data-toggle="modal"
                                        title="Désactiver la demande"
                                        data-target="#modalAdvertDisabled_{{advert.id}}" >Désactiver</a>
                                    {% endif %}
                              </div>
                              <div class="btn-group" role="group">
                              </div>
                              <div class="btn-group" role="group">
                                <a class='btn btn-danger'
                                      data-toggle="modal"
                                      role="button"
                                      data-toggle="modal"
                                        title="Supprimer la demande"
                                      data-target="#modalAdvertDelete_{{advert.id}}" >
                                      Supprimer
                                  </a>
                              </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
       </div>
       {% endif %}
   </div>

<div class="row">
    <div class="col-md-12 text-center">
        <ul class="pagination">
            {% if nbPages > 1 %}
                {% for p in range(1, nbPages) %}
                    <li{% if p == page %} class="active"{% endif %}>
                        <a href="{{ path('se_platform_advert_user_list', {'page': p}) }}">{{ p }}</a>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>


{% for advert in listAdvertUser %}

<div class="modal fade"
     id="modalAdvertDisabled_{{advert.id}}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modalAdvertDeleteLabel_{{advert.id}}">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Désactiver la demande {{advert.title}}</h4>
          </div>
          <div class="modal-body text-center">
           <p class="pad-msg">Etes-vous certain de vouloir désactiver la demande <strong>{{ advert.title }} </strong> ?</p>
           <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Non</button>
           <a href="{{ path('se_platform_advert_disable', {'slug':advert.slug,  'id': advert.id}) }}" class="btn btn-success">Désactiver</a>
          </div>
        </div>
      </div>
</div>


 <div class="modal fade"
      id="modalAdvertDelete_{{advert.id}}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalAdvertDeleteLabel_{{advert.id}}">
         <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title" id="myModalLabel">Supprimer la demande {{advert.title}}</h4>
           </div>
           <div class="modal-body text-center">
            <p class="pad-msg">Etes-vous certain de vouloir supprimer la demande <strong>{{ advert.title }} </strong> ?</p>
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Non</button>
            <a href="{{ path('se_platform_advert_delete', {'slug':advert.slug,  'id': advert.id}) }}" class="btn btn-success">Supprimer</a>
           </div>
         </div>
       </div>
 </div>


    <div class="modal fade"
         id="modalAuctionShow_{{advert.id}}"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modalAuctionShowLabel_{{advert.id}}">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel_{{advert.id}}">Historique des offres</h4>
              </div>
              <div class="modal-body">
                   {{ render(controller('SEPlatformBundle:Auction:list', { 'advertId': advert.id })) }}
              </div>
            </div>
          </div>
    </div>

{% endfor %}
{% endblock %}
