{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Liste des demandes en cours - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
      <h3 class="cat-title">Liste des demandes en cours</h3>
        {{ include('@SEPlatform/Advert/listFilter.html.twig') }}
      </div>
    </div>
{% endblock %}
{% block layout_body %}
 <a class="btn btn-primary" href="{{ path('se_platform_advert_add') }}">Déposer une nouvelle demande</a>
         <h4 class="cat-title">{{ titleResult }}</h4>
            <table class="table table-hover" id="tblGrid">
                <tbody>
                {% for advert in advertList %}
                    <tr class="link" onclick="window.document.location='{{ path('se_platform_advert_view', {'slug': advert.slug,'id': advert.id}) }}';">
                        <td>
                            <h5 class="truncate">
                                <a class='se-tbl-link' href="{{ path('se_platform_advert_view', {'slug': advert.slug,'id': advert.id}) }}">{{ advert.title }}</a>
                                <h5 class="visible-xs">
                                      {{ render(controller('SEPlatformBundle:Auction:getNbAuction', { 'advertId': advert.id })) }}
                                  </h5>

                                <h5 class="hidden-xs hidden-sm" >
                                  {{ advert.dateCreation|date('d/m/Y') }}
                                  à
                                  {{ advert.dateCreation|date('H:i:s') }}
                                </h5>
                                <h5 class="visible-xs visible-sm">
                                  <i>{{ advert.category.labelNormal }}</i>
                                </h5>
                                <h5 class="visible-xs visible-sm">
                                  <i>{{ advert.PostalCode.city.labelNormal }} ({{ advert.PostalCode.value }})</i>
                                </h5>
                            </h5>
                        </td>
                        <td>
                          <h5 class="hidden-xs hidden-sm" >
                            <i>{{ advert.category.labelNormal }}</i>
                          </h5>
                        </td>
                        <td>
                          <h5 class="hidden-xs hidden-sm" >
                            <i>{{ advert.PostalCode.city.labelNormal }} ({{ advert.PostalCode.value }})</i>
                          </h5>
                        </td>
                        <td class="hidden-xs">
                          <h5>
                              {{ render(controller('SEPlatformBundle:Auction:getNbAuction', { 'advertId': advert.id })) }}
                          </h5>
                        </td>
                    </tr>

                    {% else %}
                    <p>Aucune demande trouvée !</p>
                    <p>Si vous effectuez une recherche par mots-clés, vérifiez bien qu'il n'y ait pas de faute de frappe.</p>
                {% endfor %}

                </tbody>
            </table>


   <div class="row">
       <div class="col-md-12 text-center">
           <ul class="pagination">
               {% if nbPages > 1 %}
                   {% for p in range(1, nbPages) %}
                       <li{% if p == page %} class="active"{% endif %}>
                           <a href="{{ path('se_platform_advert_list', {'page': p}) }}">{{ p }}</a>
                       </li>
                   {% endfor %}
               {% endif %}
           </ul>
       </div>
   </div>

{% endblock %}
