{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Annonces en cours - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
      <h3 class="cat-title">Annonces en cours</h3>
        {{ include('@SEPlatform/Advert/listFilter.html.twig') }}
{% endblock %}
{% block layout_body %}

         <h4 class="cat-title">{{ titleResult }}</h4>
            <table class="table" id="tblGrid">
                <tbody>
                {% for advert in advertList %}
                    <tr>
                        <td class="text-center">
                          <a class='se-tbl-link thumbnail' href="{{ path('se_platform_advert_view', {'slug': advert.slug,'id': advert.id}) }}">
                            {% if advert.image == null %}
                            <img class="se-auction-img" src="{{ asset(advert.WebPathNoImage) }}" alt="{{ asset(advert.WebPathNoImage) }}">
                            {% else %}
                              <img class="se-auction-img" src="{{ asset(advert.image.webPath) }}" alt="{{ asset(advert.image.webPath) }}">
                            {% endif %}
                          </a>
                        </td>
                        <td>
                            <h5 class="truncate">
                                <a class='se-tbl-link' href="{{ path('se_platform_advert_view', {'slug': advert.slug,'id': advert.id}) }}">{{ advert.title }}</a>
                                <h5>
                                  {{ advert.category.labelNormal }}
                                </h5>
                                <h5>
                                  {{ advert.dateCreation|date('d/m/Y') }}
                                  à
                                  {{ advert.dateCreation|date('H:i:s') }}
                                </h5>
                            </h5>
                        </td>
                        <td class='text-left'>
                            <h5>
                              {{ advert.user.postalCode.value }}
                              {{ advert.user.postalCode.city.labelNormal }}
                            </h5>
                            <h5>
                              {{ advert.user.PostalCode.city.departement.labelNormal }}
                            </h5>
                            <h5>
                              {{ advert.user.PostalCode.city.departement.region.labelNormal }}
                            </h5>
                        </td>
                        <td>
                          {% if advert.auctionState == 0 %}
                              <span class="label label-warning">0 offre</span>
                          {% else %}
                              <span class="label label-success">
                                  {{ render(controller('SEPlatformBundle:Auction:getNbAuction', { 'advertId': advert.id })) }}
                              </span>
                          {% endif %}
                        </td>
                        <td class="text-right">
                          <span class="label se-price-badge little">
                            {{ render(controller('SEPlatformBundle:Auction:getLastAuction', { 'advertId': advert.id })) }} / <span class="text-lowercase">{{advert.BudgetType.slug}}</span>
                          </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


   <div class="row">
      <div class="col-md-1"></div>
       <div class="col-md-10 text-center">
           <ul class="pagination">
               {% if nbPages > 1 %}
                   {% for p in range(1, nbPages) %}
                       <li{% if p == page %} class="active"{% endif %}>
                           <a href="{{ path('se_platform_advert_list', {'page': p}) }}">{{ p }}</a>
                       </li>
                   {% endfor %}
               {% endif %}
           </ul>
       </div>
       <div class="col-md-1"></div>
   </div>

{% endblock %}
