{% extends 'SEPlatformBundle::viewLayout.html.twig' %}

{% block view_advert_auction %}

         <div class="col-md-12 text-center">

           {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
               {% if advert.user !=  app.user %}
                        <a href="{{ path('se_platform_auction_add', {'advertSlug': advert.slug,'advertId': advert.id}) }}"
                        class="btn btn-primary btn-md btn-block">
                            Faire une offre
                        </a>
                       <a href="{{ path('se_platform_message_add',
                       {'advertSlug': advert.slug,
                       'advertId': advert.id,
                       'receiveId': advert.user.id,
                       'isAnswer':0
                       }) }}" class="btn btn-primary btn-md btn-block">
                           Contacter
                       </a>
                 {% endif %}
             {% else %}
                    <a href="{{ path('se_platform_auction_add', {'advertSlug': advert.slug,'advertId': advert.id}) }}"
                    class="btn btn-primary btn-md btn-block" >
                        Faire une offre
                    </a>
                   <a href="{{ path('se_platform_message_add', {'advertSlug': advert.slug,'advertId': advert.id, 'receiveId': advert.user.id, 'isAnswer':0}) }}"
                   class="btn btn-primary btn-md btn-block">
                       Contacter
                   </a>
           {% endif %}
           {% if advert.auctionState == 0 %}
           <button
                type="button"
                class="btn btn-default btn-md btn-block"
                data-toggle="modal"
                role="button"
                data-toggle="modal"
                data-target="#modalAuctionShow"
                >
              {{ render(controller('SEPlatformBundle:Auction:getNbAuction', { 'advertId': advert.id })) }}
           </button>
           {% else %}
           <button
                type="button"
                class="btn btn-warning btn-md btn-block"
                data-toggle="modal"
                role="button"
                data-toggle="modal"
                data-target="#modalAuctionShow"
                >
              {{ render(controller('SEPlatformBundle:Auction:getNbAuction', { 'advertId': advert.id })) }}
           </button>
           {% endif %}

         </div>
{% endblock %}
