{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
  {{advert.title}} - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div class="col-md-12">
      <h5 class="cat-title">
        <a href="{{ path('se_platform_homepage') }}" >
          Accueil
        </a>
          >
        <a href="{{ path('se_platform_advert_list' , {'category' : advert.category.id }) }}" >
        {{advert.category.labelNormal}}
        </a>
        >
        {{ advert.title }}
    </h5>
  </div>
</div>
{% endblock %}
{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         <div class="col-md-6">
           <div class="panel panel-default">
             <i class="ad-date">Mise en ligne le {{ advert.dateCreation|date('d/m/Y') }} à {{ advert.dateCreation|date('H:m') }}</i>
                <div class="panel-body text-center se-item-link">
                 {% if advert.category.labelNormal != 'Autres' %}
                     <p>{{ advert.category.labelNormal }}</p>
                 {% else %}
                     <p>Sans catégorie</p>
                 {% endif %}
                     <img class="se-img" src="{{ asset(advert.category.webPath) }}" alt="{{ asset(advert.category.webPath) }}">
                </div>
                <div class="panel-footer se-panel-footer">
                   <h4 class="truncate">
                     {{ advert.title }}
                   </h4>
                   <p>{{ advert.user.PostalCode.value }} {{ advert.user.PostalCode.city.labelNormal }}
                     ({{ advert.user.PostalCode.city.departement.labelNormal }} -
                     {{ advert.user.PostalCode.city.departement.region.labelNormal }})
                   </p>
                </div>
            </div>
         </div>

         <div class="col-md-6">
           <div class="panel panel-default">
             <i class="ad-date"><span class="label label-success">Enchère en cours</span></i>
                <div class="panel-body text-center se-item-link detail-body">
                  <div class="col-md-12 text-center">
                      <div class="text-center pad-price">
                        <span class="label se-price-badge">
                            {{ render(controller('SEPlatformBundle:Auction:getLastAuction', { 'advertId': advert.id })) }}
                        </span>
                      </div>
                      <div class="text-center pad-price">
                        <a class="cat-link"
                              href="#">
                              {{ render(controller('SEPlatformBundle:Auction:getNbAuction', { 'advertId': advert.id })) }}
                        </a>
                      </div>

                      <div class="col-md-12">
                          <div class="col-md-6">
                               <a href="{{ path('se_platform_auction_add', {'advertSlug': advert.slug,'advertId': advert.id}) }}" class="form-control btn se-btn-action">
                                   Enchérir
                               </a>
                          </div>
                          <div class="col-md-6">
                            <a href="{{ path('se_platform_message_add', {'advertSlug': advert.slug,'advertId': advert.id}) }}" class="form-control btn se-btn-action">
                                Contacter
                            </a>
                          </div>
                      </div>

                  </div>
                </div>
            </div>
         </div>

       </div>
   </div>
   <div class="row">
     <div id="content" class="col-md-12">
       <div class="col-md-6">
            <h4 class="cat-title">Description</h4>
            <p>{{ advert.detail |nl2br }}</p>
        </div>
        <div class="col-md-6">
             <h4 class="cat-title">Demandeur</h4>
             <p><i class="glyphicon glyphicon-user"></i> {{ advert.user }}</p>
             <p><i class="glyphicon glyphicon-phone-alt"></i> {{ advert.user.phoneNumber }}</p>
             <p><i class="glyphicon glyphicon-map-marker"></i> {{ advert.user.address }} {{ advert.user.PostalCode.value }} {{ advert.user.PostalCode.city.labelNormal }}
                ({{ advert.user.PostalCode.city.departement.labelNormal }})</p>
         </div>
    </div>
   </div>
{% endblock %}
