
    <form id="form_recherche" action="" method="get">
        <div class="form-group">
            <div class="row">
                <div class="col-md-3 filter">
                        <select class="form-control"
                                name="advert"
                                id="advert_id" >
                            <option value='0' >Toutes les annonces</option>
                            {% for advert in listAdvertUser %}
                                <option {{ app.request.query.get('advert')== advert.id ? ' selected ' : ' ' }}
                                    value={{ advert.id }}>{{ advert.title }}
                                </option>
                            {% endfor %}
                        </select>
                </div>
                <div class="col-md-3 filter">
                        <select class="form-control"
                                name="state"
                                id="state_id" >
                            <option value='0'>Toutes les offres</option>
                            {% for state in listState %}
                                 <option {{ app.request.query.get('state')== state.id ? ' selected ' : ' ' }}
                                    value={{ state.id }}>{{ state.labelNormal }}
                                 </option>
                            {% endfor %}
                        </select>
                </div>
                <div class="col-md-3 filter">
                    <input class="btn btn-lg-se btn-primary" type="submit" value="Afficher"  />
                </div>
                <div class="col-md-3 filter">
                  <a href="{{ path('se_platform_auction_user_receive') }}"
                            type="button" class="btn btn-lg-se btn-primary" >
                             Réinitialiser
                  </a>
                </div>
              </div>
        </div>
    </form>
