{# Lister des Offres d'une Demande - Sans Action #}

{% if countAuctions > 0 %}
    <table class="table" id="tblGrid-auction">

        <tbody>
        {% for auction in listAuctions %}
            <tr>
                <td class="text-left">
                    <a href="{{ path('se_platform_user_view', {'userId': auction.user.id}) }}" class="cat-link" >
                        {{ auction.user }}
                    </a>
                </td>
                <td class="text-left hidden-xs">
                    {{ include('@SEPlatform/User/rate.html.twig', {'item': auction.user }) }}
                </td>
                <td class="text-right">
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if auction.state == 2 %}
                        <span class="label label-success">{{ auction.value|number_format(0, ' ', ' ') }} €  / {{auction.advert.BudgetType.slug}}</span>
                        <span class="label label-success">Accepté</span>
                    {% elseif auction.state == 3 %}
                        <span class="label label-default">{{ auction.value|number_format(0, ' ', ' ') }} €  / {{auction.advert.BudgetType.slug}}</span>
                        <span class="label label-default">Déclinée</span>
                    {% elseif auction.state == 1 %}
                        <span class="label label-warning">{{ auction.value|number_format(0, ' ', ' ') }} €  / {{auction.advert.BudgetType.slug}}</span>
                        <span class="label label-warning">En cours</span>
                      {% endif %}
                {% else %}
                        <span class="label label-default">{{ auction.value|number_format(0, ' ', ' ') }} €  / {{auction.advert.BudgetType.slug}}</span>
                {% endif %}
                </td>
                <td class="text-right hidden-xs">{{ auction.dateCreation|date('d/m/Y') }} à {{ auction.dateCreation|date('H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% else %}
    <div>Aucune offre pour l'instant</div>
{% endif %}
