{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Mes offres - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Mes offres</h3>
        {{ include('@SEPlatform/Auction/listUserSendFilter.html.twig') }}
  </div>
</div>
{% endblock %}
{% block layout_body %}
  <div class="row">
       <div id="content" class="col-md-12">
         {% if app.user.isAcountComplete == 0 %}
             <div class="alert alert-warning" role="alert">
                 Bonjour {{ app.user.username }}, Votre profil n'est pas complet, merci de le
                 <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >compléter</a>
             </div>
         {% else %}
         <h4 class="cat-title">{{ titleResult }}</h4>
            <table class="table" id="tblGrid">
                <tbody>
                {% for auction in listAuctionUser %}
                <tr>
                  <td>
                    <h5 class="text-left hidden-xs hidden-sm">
                        {{ auction.dateCreation|date('d/m/Y') }}
                        à
                        {{ auction.dateCreation|date('H:i:s') }}
                      </h5>
                  </td>
                    <td>
                        <h5 class="text-left">
                            {% if auction.advert.isPublished == 1 %}
                            <a class='se-tbl-link' href="{{ path('se_platform_auction_add', {'advertSlug': auction.advert.slug,'advertId': auction.advert.id}) }}">{{ auction.advert.title }}</a>
                            {% else %}
                            <i>{{ auction.advert.title }}</i>
                            <div class="label label-default"
                                  data-toggle="tooltip"
                                        data-placement="bottom" title="La demande est hors ligne">
                             <i class="glyphicon glyphicon-info-sign"> </i>
                            </div>
                            {% endif %}
                        </h5>
                    </td>
                    <td>
                      <h5 class="text-center visible-xs visible-sm">
                            <span class="label label-default se-badge-inverse-label">{{ auction.value|number_format(0, ' ', ' ') }} €  / {{auction.advert.BudgetType.slug}}<span>
                      </h5>
                      <h5 class="text-center visible-xs visible-sm">
                          <a class="btn btn-primary"
                            data-toggle="modal"
                            role="button"
                            data-toggle="modal"
                            data-target="#modalAuctionShow_{{auction.advert.id}}"
                            >
                             Historique des offres
                            </a>
                      </h5>


                    </td>
                      <td>
                        <h5 class="text-center hidden-xs hidden-sm">
                            <span class="label label-default se-badge-inverse-label">{{ auction.value|number_format(0, ' ', ' ') }} €  / {{auction.advert.BudgetType.slug}}<span>
                        </h5>
                      </td>
                    <td>
                      <h5 class="text-right hidden-xs hidden-sm">
                        <a class="btn btn-primary"
                            data-toggle="modal"
                            role="button"
                            data-toggle="modal"
                            data-target="#modalAuctionShow_{{auction.advert.id}}"
                            >
                              Historique des offres
                          </a>
                        </h5>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
             {% endif %}
       </div>
   </div>

   <div class="row">
       <div class="col-md-12 text-center">
           <ul class="pagination">
               {% if nbPages > 1 %}
                   {% for p in range(1, nbPages) %}
                       <li{% if p == page %} class="active"{% endif %}>
                           <a href="{{ path('se_platform_auction_user_send', {'page': p}) }}">{{ p }}</a>
                       </li>
                   {% endfor %}
               {% endif %}
           </ul>
       </div>
   </div>
{% for auction in listAuctionUser %}
<div class="modal fade"
     id="modalAdvertCancel_{{auction.id}}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modalAdvertCancelLabel_{{auction.id}}">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Annuler l'offre</h4>
          </div>
          <div class="modal-body text-center">
           <p class="pad-msg">Etes-vous certain de vouloir annuler l'offre de <strong>{{ auction.value|number_format(0, ' ', ' ') }} € </strong> pour <strong>{{ auction.advert.title }} </strong> ?</p>
           <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Non</button>
           <a href="{{ path('se_platform_auction_cancel', {'id': auction.id}) }}" class="btn btn-success">Annuler l'offre</a>
          </div>
        </div>
      </div>
</div>

   <div class="modal fade"
        id="modalAuctionShow_{{auction.advert.id}}"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modalAuctionShowLabel_{{auction.advert.id}}">
           <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel_{{auction.advert.id}}">Historique des offres</h4>
             </div>
             <div class="modal-body">
                  {{ render(controller('SEPlatformBundle:Auction:list', { 'advertId': auction.advert.id })) }}
             </div>
           </div>
         </div>
   </div>
{% endfor %}

{% endblock %}
