{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Offres reçues - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Offres reçues</h3>
      {{ include('@SEPlatform/Auction/listUserReceiveFilter.html.twig') }}
  </div>
</div>
{% endblock %}
{% block layout_body %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
      {% for flash_message in app.session.flashBag.get('addSuccess') %}
          <div class="alert alert-success text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ flash_message }}
          </div>
      {% endfor %}
      {% for flash_message in app.session.flashBag.get('warning') %}
          <div class="alert alert-warning text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ flash_message }}
          </div>
      {% endfor %}
      {% for flash_message in app.session.flashBag.get('error') %}
          <div class="alert alert-danger text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              {{ flash_message }}
          </div>
      {% endfor %}
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
     <div id="content" class="col-md-12">
       <h4 class="cat-title">{{ titleResult }}</h4>
          <table class="table" id="tblGrid">

              <tbody>
              {% for auction in listAdvertAuction %}
              <tr>
                <td>
                    <h5>
                        <a class='se-tbl-link' href="{{ path('se_platform_advert_view', {'slug': auction.advert.slug,'id': auction.advert.id}) }}">{{ auction.advert.title }}</a>
                    </h5>
                </td>
                  <td>
                      <h5>
                          <a class='se-tbl-link' href="{{ path('se_platform_user_view', {'userId': auction.user.id}) }}" class="cat-link" >
                              {{ auction.user }}
                          </a>
                          <h5 class="hidden-xs hidden-sm">{{ include('@SEPlatform/User/rate.html.twig', {'item': auction.user }) }}  </h5>
                      </h5>
                  </td>
                  <td>
                    <h5 class="hidden-xs hidden-sm">
                        le {{ auction.dateCreation|date('d/m/Y') }}
                        à
                        {{ auction.dateCreation|date('H:i:s') }}
                    </h5>
                  </td>
                  <td>
                      <h5 class="visible-xs visible-sm">
                        {% if auction.state == 1 %}
                            <span class="label label-warning">{{ auction.value|number_format(0, ' ', ' ') }} €  / {{auction.advert.BudgetType.slug}}<span>
                        {% elseif auction.state == 2 %}
                            <span class="label label-success">{{ auction.value|number_format(0, ' ', ' ') }} €  / {{auction.advert.BudgetType.slug}}<span>
                        {% elseif auction.state == 3 %}
                            <span class="label label-default">{{ auction.value|number_format(0, ' ', ' ') }} €  / {{auction.advert.BudgetType.slug}}<span>
                        {% endif %}

                      </h5>
                      <h5 >
                      {% if auction.state == 1 %}
                          <span class="label label-warning">En cours</span>
                      {% elseif auction.state == 2 %}
                          <span class="label label-success">Acceptée</span>
                          <div class="label label-success"
                                data-toggle="tooltip"
                                      data-placement="bottom" title="La demande n'est plus visible sur le site">
                           <i class="glyphicon glyphicon-info-sign"> </i>
                          </div>
                      {% elseif auction.state == 3 %}
                          <span class="label label-default">Déclinée</span>
                          <div class="label label-default"
                                data-toggle="tooltip"
                                      data-placement="bottom" title="La demande n'est plus visible sur le site">
                           <i class="glyphicon glyphicon-info-sign"> </i>
                          </div>
                      {% endif %}
                      </h5>
                      <h5 class="visible-xs visible-sm">
                        {% if auction.state == 1 %}
                              <a class="btn btn-primary"
                                  data-toggle="modal"
                                  role="button"
                                  data-toggle="modal"
                                  data-target="#modalAuctionAdd_{{auction.id}}"
                                  >Accepter</a>
                        {% elseif auction.state == 2 and auction.advert.commentState == 0 %}
                              <a class="btn btn-primary" href="{{ path('se_platform_comment_add', {'advertId': auction.advert.id, 'auctionUserId': auction.user.id}) }}">Evaluer</a>
                              <a class="btn btn-danger"
                                    data-toggle="modal"
                                    role="button"
                                    data-toggle="modal"
                                    data-target="#modalAuctionCancel_{{auction.id}}"
                                    >Annuler</a>
                        {% elseif auction.state == 2 and auction.advert.commentState == 1 %}
                        <a class="btn btn-primary" href="{{ path('se_platform_comment_user_list') }}">Voir les avis</a>
                        {% endif %}
                      </h5>
                  </td>

                  <td class="text-right bold hidden-xs hidden-sm">
                    {% if auction.state == 1 %}
                        <span class="label label-warning">{{ auction.value|number_format(0, ' ', ' ') }} €  / {{auction.advert.BudgetType.slug}}<span>
                    {% elseif auction.state == 2 %}
                        <span class="label label-success">{{ auction.value|number_format(0, ' ', ' ') }} €  / {{auction.advert.BudgetType.slug}}<span>
                    {% elseif auction.state == 3 %}
                        <span class="label label-default">{{ auction.value|number_format(0, ' ', ' ') }} €  / {{auction.advert.BudgetType.slug}}<span>
                    {% endif %}

                  </td>
                  <td class="text-center bold hidden-xs hidden-sm">
                    <h5>
                      {% if auction.state == 1 %}
                            <a class="btn btn-primary"
                                data-toggle="modal"
                                role="button"
                                data-toggle="modal"
                                data-target="#modalAuctionAdd_{{auction.id}}"
                                >Accepter</a>
                      {% elseif auction.state == 2 and auction.advert.commentState == 0 %}
                            <a class="btn btn-primary" href="{{ path('se_platform_comment_add', {'advertId': auction.advert.id, 'auctionUserId': auction.user.id}) }}">Evaluer</a>
                            <a class="btn btn-danger"
                                  data-toggle="modal"
                                  role="button"
                                  data-toggle="modal"
                                  data-target="#modalAuctionCancel_{{auction.id}}"
                                  >Annuler</a>
                      {% elseif auction.state == 2 and auction.advert.commentState == 1 %}
                      <a class="btn btn-primary" href="{{ path('se_platform_comment_user_list') }}">Voir les avis</a>
                      {% endif %}
                    </h5>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
     </div>
 </div>

 <div class="row">
     <div class="col-md-12 text-center">
         <ul class="pagination">
             {% if nbPages > 1 %}
                 {% for p in range(1, nbPages) %}
                     <li{% if p == page %} class="active"{% endif %}>
                         <a href="{{ path('se_platform_auction_user_send', {'page': p}) }}">{{ p }}</a>
                     </li>
                 {% endfor %}
             {% endif %}
         </ul>
     </div>
 </div>


{% for auction in listAdvertAuction %}
 <div class="modal fade"
      id="modalAuctionAdd_{{auction.id}}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalAuctionAddLabel_{{auction.id}}">
         <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title" id="myModalLabel">Accepter cette offre</h4>
           </div>
           <div class="modal-body text-center">
            <p class="pad-msg">Etes-vous certain de vouloir accepter l'offre de <strong>{{ auction.value }} €</strong> ?</p>
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Non</button>
            <a class="btn btn-success" href="{{ path('se_platform_auction_accept', {'auctionId': auction.id, 'state' : 2}) }}">Oui</a>
           </div>
         </div>
       </div>
 </div>

 <div class="modal fade"
      id="modalAuctionCancel_{{auction.id}}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modalAuctionCancelLabel_{{auction.id}}">
         <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title" id="myModalLabel">Annuler cette offre</h4>
           </div>
           <div class="modal-body text-center">
            <p class="pad-msg">Etes-vous certain de vouloir annuler l'offre de <strong>{{ auction.value }} €</strong> ?</p>
            <p><b>Attention</b> la demande sera à nouveau en ligne.</p>
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Non</button>
            <a class="btn btn-success" href="{{ path('se_platform_auction_accept', {'auctionId': auction.id, 'state' : 1}) }}">Oui</a>
           </div>
         </div>
       </div>
 </div>
{% endfor %}

{% endblock %}
