{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Enchères reçues - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Enchères reçues</h3>
      {{ include('@SEPlatform/Auction/listUserReceiveFilter.html.twig') }}
  </div>
</div>
{% endblock %}
{% block layout_body %}
<div class="row">
     <div id="content" class="col-md-12">
       <h4 class="cat-title">{{ titleResult }}</h4>
          <table class="table" id="tblGrid">
            <thead id="tblHead">
                <tr>
                    <th>Annonce</th>
                    <th>Enchérisseur</th>
                    <th>Note</th>
                    <th>Date de l'enchère</th>
                    <th class="text-left">Etat</th>
                    <th class="text-right">Offre</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
              <tbody>
              {% for auction in listAdvertAuction %}
              <tr>
                <td>
                    <h5>
                        <a class='se-tbl-link' href="{{ path('se_platform_advert_view', {'slug': auction.advert.slug,'id': auction.advert.id}) }}">{{ auction.advert.title }}</a>
                    </h5>
                </td>
                  <td>
                      <h5>
                          <a class='se-tbl-link' href="{{ path('se_platform_user_view', {'userId': auction.user.id}) }}" class="cat-link" >
                              {{ auction.user }}
                          </a>
                      </h5>
                  </td>
                  <td>
                      <h5>
                          {{ include('@SEPlatform/User/rate.html.twig', {'item': auction.user }) }}
                      </h5>
                  </td>
                  <td>
                    <h5>
                        le {{ auction.dateCreation|date('d/m/Y') }}
                        à
                        {{ auction.dateCreation|date('H:i:s') }}
                    </h5>
                  </td>
                  <td>
                      <h5>
                      {% if auction.state == 1 %}
                          <span class="label label-primary">Enchères encours</span>
                      {% elseif auction.state == 2 %}
                          <span class="label label-success">Enchères acceptée</span>
                          <div class="label label-success"
                                data-toggle="tooltip"
                                      data-placement="bottom" title="La demande n'est plus visible sur le site">
                           <i class="glyphicon glyphicon-info-sign"> </i>
                          </div>
                      {% elseif auction.state == 3 %}
                          <span class="label label-danger">Enchère déclinée</span>
                          <div class="label label-danger"
                                data-toggle="tooltip"
                                      data-placement="bottom" title="La demande n'est plus visible sur le site">
                           <i class="glyphicon glyphicon-info-sign"> </i>
                          </div>
                      {% endif %}
                      </h5>
                  </td>

                  <td class="text-right bold">
                    <span class="label se-price-badge little">{{ auction.value|number_format(0, ' ', ' ') }} €<span>
                  </td>
                  <td class="text-center bold">
                    <h5>
                      {% if auction.state == 1 %}
                            <a class="btn btn-success" href="{{ path('se_platform_auction_accept', {'auctionId': auction.id, 'state' : 2}) }}">Accepter</a>

                      {% elseif auction.state == 2 %}
                            <a class="btn btn-primary" href="{{ path('se_platform_comment_add', {'advertId': auction.advert.id, 'auctionUserId': auction.user.id}) }}">Evaluer</a>
                            <a class="btn btn-danger" href="{{ path('se_platform_auction_accept', {'auctionId': auction.id, 'state' : 1}) }}">Annuler</a>
                      {% elseif auction.state == 3 %}
                          </div>
                      {% endif %}
                    </h5>
                  </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
     </div>
 </div>

 <div class="row">
     <div class="col-md-12 text-center">
         <ul class="pagination">
             {% if nbPages > 1 %}
                 {% for p in range(1, nbPages) %}
                     <li{% if p == page %} class="active"{% endif %}>
                         <a href="{{ path('se_platform_auction_user_send', {'page': p}) }}">{{ p }}</a>
                     </li>
                 {% endfor %}
             {% endif %}
         </ul>
     </div>
 </div>
{% for auction in listAdvertAuction %}

{% endfor %}

{% endblock %}
