{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'),
                        'attr': { 'class': 'fos_user_profile_edit' } }) }}

<div class="row">
  <div class="col-md-6">
    <h4><i>Mes informations</i></h4>
      <blockquote>
        <div class="form-group">
            <h5>{{ form_label(form.accountType) }}</h5>
            <h5>{{ form_widget(form.accountType)  }}</h5>
        </div>
        <div class="form-group" id='isSiret' >
            <h5>{{ form_label(form.siret) }}</h5>
            <h5>{{ form_widget(form.siret)  }}</h5>
        </div>
        <div class="form-group">
            <h5>{{ form_label(form.username) }}</h5>
            <h5>{{ form_widget(form.username)  }}</h5>
        </div>
        <div class="form-group">
            <h5>{{ form_label(form.civility) }}</h5>
            <h5>{{ form_widget(form.civility)  }}</h5>
        </div>
        <div class="form-group">
            <h5>{{ form_label(form.name) }}</h5>
            <h5>{{ form_widget(form.name)  }}</h5>
         </div>
        <div class="form-group">
            <h5>{{ form_label(form.firstName) }}</h5>
            <h5>{{ form_widget(form.firstName)  }}</h5>
        </div>
      </blockquote>
      <h4><i>Adresse et détails</i></h4>
    <blockquote>
        <div class="form-group">
            <h5>{{ form_label(form.address) }}</h5>
            <h5>{{ form_widget(form.address)  }}</h5>
        </div>
        <div class="form-group">
            <h5>{{ form_label(form.cpCity) }}</h5>
            <h5>{{ form_widget(form.cpCity)  }}</h5>
        </div>
        <div class="form-group">
            <h5>{{ form_label(form.phoneNumber) }}</h5>
            <h5>{{ form_widget(form.phoneNumber)  }}</h5>
        </div>
        <div class="form-group">
            <h5>{{ form_label(form.detail) }}</h5>
            <h5>{{ form_widget(form.detail)  }}</h5>
         </div>
         <div class="form-group">
            <h5> {{ form_label(form.isDetailVisible) }}</h5>
            <h5> {{ form_widget(form.isDetailVisible)  }}</h5>
            <h5> {{ form_label(form.isJobber) }}</h5>
            <h5> {{ form_widget(form.isJobber)  }}</h5>
            <h5>{{ form_label(form.isNewsLetter) }}</h5>
            <h5>{{ form_widget(form.isNewsLetter)  }}</h5>
          </div>
      </blockquote>
  </div>

  <div class="col-md-6">
  <h4><i>Mes préferences</i></h4>
      <blockquote>
          <div class="form-group">
               <h5>{{ form_label(form.payment) }}</h5>
               <h5>{{ form_widget(form.payment)  }}</h5>
           </div>
            <div class="form-group">
                  <h5>{{ form_label(form.calendar) }}</h5>
                  <h5>{{ form_widget(form.calendar)  }}</h5>
            </div>
            <div class="form-group opac">
                <h5>{{ form_label(form.categories) }}</h5>
                <h5>{{ form_widget(form.categories)  }}</h5>
            </div>

      </blockquote>
      <h4><i>Mail</i></h4>
      <blockquote>
        <div class="form-group">
                <h5>{{ form_label(form.email) }}</h5>
                <h5>{{ form_widget(form.email)  }}</h5>
        </div>
        <div class="form-group">
            <h5>{{ form_label(form.current_password) }}</h5>
            <h5>{{ form_widget(form.current_password)  }}</h5>
         </div>
      </blockquote>
      <h4><i>Changer le mot de passe</i></h4>
      <blockquote>
         <div class="form-group">
             <h5>{{ form_widget(form.plainPassword)  }}</h5>
         </div>
      </blockquote>
  </div>
    </div>
<div class="col-md-12">
    <div class="text-center">
      <a href="{{ path('se_platform_user_view', {'userId': app.user.id}) }}"  class="btn btn-default">
          Voir mon profil
      </a>
        <input  class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</div>

{{ form_end(form) }}
