{% trans_default_domain 'FOSUserBundle' %}


      <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading se-panel-heading">
              <h3 class="panel-title">Détail</h3>
            </div>
            <div class="panel-body profile">
                  <h4>{{ user }}</h4>
                  <div class="se-profile-value">
                    {% if user.isDetailVisible or is_granted('ROLE_SUPER_ADMIN')%}
                        <h5>{{ user.address }}
                            <br>{{ user.PostalCode.value }} {{ user.PostalCode.city.labelNormal }}
                            <br>{{ user.PostalCode.city.departement.labelNormal }}
                        </h5>
                        <h5>
                          {{ user.phoneNumber|split('', 2)|join(' ') }}
                        </h5>
                   {% else %}
                        <h5>xxxxxxxxxxxxxxxxxxxxxxx
                            <br>xxxx xxxxxxxxxxx
                            <br>xxxxxxxx
                        </h5>
                        <h5>
                         0x xx xx xx xx
                        </h5>
                   {% endif %}
                 </div>
                 <br>
                    <h4>Note : </h4>
                    <h5>
                      <div class="se-profile-value">
                          {{ include('@SEPlatform/User/rate.html.twig', {'item': user }) }}
                        </div>
                    </h5>

                   <br>
                    <h4>Disponibilité :</h4>
                    <div class="se-profile-value-reverse">
                        <table>
                        <thead id="tblHead">
                            <tr>
                                {% for day in user.calendar %}
                                <th>
                                    <h5 class="array-item">{{ day.dayFrAbbr  }}</h5>
                                </th>
                                {% else %}
                                    <th>
                                    Nous contacter
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for day in user.calendar %}
                                <td>

                                </td>
                                {% endfor %}
                        </tbody>
                        </table>
                    </div>
                    <div class="se-profile-value respnse">
                    <table>
                    <thead id="tblHead">
                        <tr>
                            {% for day in user.calendar %}
                            <th>
                                <h5 class="array-item">{{ day.dayFr  }}</h5>
                            </th>
                            {% else %}
                                <th>
                                  <h5>Nous contacter</h5>
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    </table>
                    </div>

                   <br>
                    <h4>Mode de paimenent accepté :</h4>
                    <div class="se-profile-value">
                      <table>
                        <thead id="tblHead">
                            <tr>
                                {% for pay in user.payment %}
                                <th>
                                    <h5 class="array-item">{{ pay.labelNormal  }}</h5>
                                </th>
                                {% else %}
                                    <th>
                                      <h5>Nous contacter</h5>
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                      </table>
                    </div>
            </div>
          </div>
      </div>
      <div class="col-md-6">

          <div class="panel panel-default">
            <div class="panel-heading se-panel-heading">
              <h3 class="panel-title">Nombres d'offres</h3>
            </div>
            <div class="panel-body">
              <div class="se-profile-value text-center wk-text-center" >
                <table>
                  <thead id="tblHead" class="auction-nb">
                      <tr >
                        <th class="text-center">
                            <h5>Reçues</h5>
                        </th>
                          <th class="text-center">
                              <h5>Proposées</h5>
                          </th>
                          <th class="text-center">
                              <h5>Gagnées</h5>
                          </th>
                        <th class="text-center">
                              <h5>Perdues</h5>
                          </th>
                      </tr>
                      <tr >
                        <th class="text-center">
                            <span class="label label-info se-badge-auction">{{countReceivedAuction}}</span>
                        </th>
                          <th class="text-center">
                              <span class="label label-warning se-badge-auction">{{ countProposedAuction }}</span>
                          </th>
                          <th class="text-center">
                              <span class="label label-success se-badge-auction">{{countAcceptedAuction}}</span>
                          </th>
                          <th class="text-center">
                              <span class="label label-danger se-badge-auction">{{countLosedAuction}}</span>
                          </th>
                      </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading se-panel-heading">
              <h3 class="panel-title">A propos</h3>
            </div>
            <div class="panel-body">
              <div class="user-about">
                <p>  {{ user.detail|nl2br }}</p>
              </div>
              </div>
          </div>

        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading se-panel-heading">
                  <h3 class="panel-title">Avis reçus</h3>
                </div>
                <div class="panel-body profile">
                   {% for comment in listComment %}
                      <h4>
                        <a class='se-tbl-link' href="{{ path('se_platform_user_view', {'userId': comment.sender.id}) }}" class="cat-link" >
                            {{ comment.sender }}
                        </a>
                      </h4>
                      <p><i>{{ comment.dateCreation|date('d/m/Y') }} à {{ comment.dateCreation|date('H:i:s') }}</i></p>
                      <div class="caption">
                          <p>{{ comment.content |nl2br }}</p>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>
