{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-3"></div>
<div class="col-md-6">
    {% for flash_message in app.session.flashBag.get('sendMessageOk') %}
        <div class="alert alert-success text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('sendMessageError') %}
        <div class="alert alert-danger text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}
  </div>
  <div class="col-md-3"></div>

<div class="row">

  <div class="col-md-6">
        <blockquote>
          {{user}}
          <h5>
{% if user.rate != -1 %}
          {{ include('@SEPlatform/User/rate.html.twig', {'item': user }) }}
{% else %}
  {% endif %}
        </h5>
          {% if user.accountType == 'Society' %}
          <h5>
             <i>Statut : </i> Professionnel
         </h5>
          <h5>
             <i>SIRET : </i> {{user.siret}}
         </h5>
           {% elseif user.accountType == 'Particular' %}
            <h5>
               <i>Status : </i> Particulier
             </h5>
          {% endif %}
          <h5>
             {% if user.isAcountComplete == 1 %}
             <i>Ville : </i>
                {{ user.PostalCode.value }} {{ user.PostalCode.city.labelNormal }}
                ({{ user.PostalCode.city.departement.labelNormal }})
              {% endif %}
          </h5>
          <h5><i>Membre depuis : {{ user.dateCreation|date('d/m/Y') }}</i></h5>
          {% if user.isDetailVisible or is_granted('ROLE_SUPER_ADMIN')%}
              <h5>
                <i>Contact : </i> {{ user.phoneNumber|split('', 2)|join(' ') }}
              </h5>
          {% endif %}
            </blockquote>

        <blockquote>

           <h5>
             {% if user.isAcountComplete == 1 %}
            <i>Disponibilité : </i>
                {% for daycal in calendar %}
                    <span class="label label-default{% if daycal in user.calendar %} label-success{% else %} badge-disable{% endif %}">{{ daycal.dayFrAbbr }}</span>
                {% endfor %}
              {% endif %}
          </h5>
          <h5>
        {% if user.isAcountComplete == 1 %}
            <i>Mode de paiement accepté : </i>
            {% for pay in user.payment %}
                <span class="label label-success">{{ pay.labelNormal }}</span>
                {% else %}
                Me contacter
            {% endfor %}
            {% endif %}
          </h5>

        </blockquote>
        <blockquote>
          A propos
          <h5>
           {% if user.isAcountComplete == 1 %}
                {% if user.detail %}
                   {{ user.detail|nl2br }}
                    {% else %}
                      {{user}} n'a pas renseigné cette partie.
                    {% endif %}
              {% endif %}
          </h5>
        </blockquote>
  </div>
  <div class="col-md-6">


    <blockquote>
      Activité
            <h5><span class="label label-default se-badge">{{countPublishAdvert}}</span> <span class="mar-lef-10">{{titlePublishAdvert}}</span></h5>
            <!--<h5><span class="label label-info">{{countReceivedAuction}}</span> <span class="mar-lef-10">Offres reçues</span></h5>
            <h5><span class="label label-warning">{{ countProposedAuction }}</span> <span class="mar-lef-10">Offres proposées</span></h5>-->
            <h5><span class="label label-default se-badge-inverse">{{countAcceptedAuction}}</span> <span class="mar-lef-10">{{titleAcceptedAuctions}}</span></h5>
          <!--  <h5><span class="label label-danger">{{countLosedAuction}}</span> <span class="mar-lef-10">Offres perdues</span></h5>-->
    </blockquote>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and user == app.user %}
    {% else %}
    <blockquote>
      Contactez {{user}}
      <h5></h5>
      <form id="form_send_message" action="" method="get">
      <div id="profil_message">
        <div class="form-group">
          <input
              type="text"
              class="form-control"
              id="name_sender"
              name="_name_sender"
              value="{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{{app.user}} {% endif %}"
              placeholder="Votre nom" required="required"
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} disabled {% endif %} >
              </div>
              <div class="form-group">

              <input
                  type="email"
                  class="form-control"
                  id="email_sender"
                  name="_email_sender"
                  value="{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}{{app.user.Email}} {% endif %}"
                  placeholder="Votre adresse mail" required="required"
                  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} disabled {% endif %} >
        </div>
        <div class="form-group">
          <textarea id="profil_message_content" name="_profil_message_content" required="required" maxlength="1000" placeholder="Ecrivez votre message ici (1000 caratères maximum)" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input class="btn btn-primary" type="submit" value="Envoyer"  />
        </div>
      </div>
    </div>
    </blockquote>
    {% endif %}
  </div>
</div>
    <div class="row">
      <div class="col-md-12">
          <blockquote>
            Avis ({{ listComment|length }})
          </blockquote>
            {% for comment in listComment %}
            <div  class="well box-well" >
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-4 text-center">
                    <h4>
                      <a class='cat-link'
                      href="{{ path('se_platform_user_view', { 'userId': comment.sender.id}) }}" class="cat-link" >
                                                  {{ comment.sender }}
                                              </a>
                      </h4>
                    <h4><small>le {{ comment.dateCreation|date('d/m/Y') }}</small></h4>
                    <h5>Note : <span class="label label-default se-badge">{{ comment.rate }} / 5</span></h5>
                  </div>
                  <div class="col-md-8">
                    <h4>{{ comment.advert.title }}</h4>
                    <h5>{{ comment.content |nl2br }}</h5>
                  </div>
                </div>
                </div>
            </div>
              {% endfor %}
      </div>
    </div>
