{% trans_default_domain 'FOSUserBundle' %}

<div class="col-md-3"></div>
<div class="col-md-6">
    {% for flash_message in app.session.flashBag.get('sendMessageOk') %}
        <div class="alert alert-success text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('sendMessageError') %}
        <div class="alert alert-danger text-center" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ flash_message }}
        </div>
    {% endfor %}
  </div>
  <div class="col-md-3"></div>

  <div class="row">
      <div class="col-sm-7">
        <div class="rating-block">
          <div class="row">
              <div class="col-sm-6">
                <h4><i class="glyphicon glyphicon-user se-user-icon"></i> <span>{{user}}</span></h4>
                {% if user.rate != -1 %}
                    <h2 class="bold padding-bottom-7">{{user.rate}} <small>/ 5 - {{ listComment|length }} avis</small></h2>
                    {{ include('@SEPlatform/User/rate2.html.twig', {'item': user }) }}
                {% else %}
                    <h2 class="bold padding-bottom-7"><small>Pas encore noté</small></h2>
                    {{ include('@SEPlatform/User/rate2.html.twig', {'item': user }) }}
                {% endif %}
              </div>
              <div class="col-sm-6">
                {{ include('@SEPlatform/User/rateDetail.html.twig', {'user': user }) }}
              </div>
          </div>
            <hr>
            <h5 class="profil-title">En quelques mots...</h5>
            <p class="info">
             {% if user.isAcountComplete == 1 %}
                  {% if user.detail %}
                     {{ user.detail|nl2br }}
                      {% else %}
                        {{user}} n'a pas renseigné cette partie.
                      {% endif %}
                {% endif %}
            </p>
            {% if user.isAcountComplete == 1  %}
                <a type="button" class="btn btn-success" data-toggle="modal" role="button" data-toggle="modal" data-target="#modalDetailShow">+ d'infos</a>
            {% endif %}
        </div>
      </div>
      <div class="col-sm-5">
            {{ include('@SEPlatform/User/userActivity.html.twig', {'user': user }) }}
      </div>
  </div>
  <hr>
    <div class="row">
      <div class="col-sm-7">
        {{ include('@SEPlatform/User/commentList.html.twig', {'listComment': listComment }) }}
    </div>
      <div class="col-sm-5">
        {{ include('@SEPlatform/User/userSendMessage.html.twig', {'user': user }) }}
      </div>
</div>

  {{ include('@SEPlatform/User/userDetail.html.twig', {'user': user }) }}
