{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Profil de {{user}} - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
<div class="row">
  <div id="header" class="col-md-12">
    <h3 class="cat-title">Profil de {{user}}</h3>
  </div>
</div>
{% endblock %}

{% block layout_body %}

  <div class="row">
      {% block fos_user_content %}
          {% include "@FOSUser/Profile/view_content.html.twig" %}
      {% endblock fos_user_content %}
  </div>
  <div class="row">
    <div id="content" class="col-md-12">
      <div class="col-md-6">
           <h4 class="cat-title">Avis reçus</h4>
            {{ include('@SEPlatform/Comment/itemReceive.html.twig', {'item': user }) }}
       </div>
       <div class="col-md-6">
            <h4 class="cat-title">Avis envoyés</h4>
            {{ include('@SEPlatform/Comment/itemSender.html.twig', {'item': user }) }}
       </div>
   </div>
  </div>

{% endblock %}
