{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Voir le profil de {{user}} sur Top Artisan
{% endblock %}
{% block description %}
  <meta name="description" content="Vous proposez un service une aide, soyez l'artisan sur Top Artisan." />
{% endblock %}

{% block layout_header2 %}
    <h3 class="cat-title">Profil de {{user}}</h3>
{% endblock %}

{% block layout_body %}

      {% if user.isAcountComplete == 0 %}
          <div class="alert alert-danger" role="alert">
              Le profil de <b>{{ user }}</b> n'est pas complet,
              si vous êtes <b>{{ user }}</b> merci de le
              <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >compléter.</a>
          </div>
          <a class="btn btn-primary hidden-xs hidden-sm" href="{{ path('se_platform_user_jobbeur_list') }}"><i class="glyphicon glyphicon-chevron-left"></i> Liste des Artisans</a>
          <a class="btn btn-block btn-primary visible-xs visible-sm" href="{{ path('se_platform_user_jobbeur_list') }}"><i class="glyphicon glyphicon-chevron-left"></i> Liste des Artisans</a>
      {% else %}
      {% block fos_user_content %}
          {% include "@FOSUser/Profile/view_content.html.twig" %}
      {% endblock fos_user_content %}
      {% endif %}

{% endblock %}
