{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
  <div class="col-md-8">
        <blockquote>
          <h5>{{user}}</h5>
          <h5>{{ include('@SEPlatform/User/rate.html.twig', {'item': user }) }}</h5>
          {% if user.isDetailVisible or is_granted('ROLE_SUPER_ADMIN')%}
              <h5>
                  {{ user.PostalCode.value }} {{ user.PostalCode.city.labelNormal }}
                  ({{ user.PostalCode.city.departement.labelNormal }})
              </h5>
              <h5>
                <i class="glyphicon glyphicon-phone-alt"></i> {{ user.phoneNumber|split('', 2)|join(' ') }}
              </h5>
          {% endif %}
          <h5>
            <i>A propos</i>
          </h5>
          <h5>
            {% if user.detail %}
               {{ user.detail|nl2br }}
                {% else %}
                  {{user}} n'a pas rensigné cette partie.
                {% endif %}
          </h5>
        </blockquote>
        <blockquote>
          <h5>
            <i>Disponibilité : </i>
                  {% if user.calendar|length > 6 %}
                  <b>Tous les jours</b>
                 {% else %}
                     {% for day in user.calendar %}
                         <span class="advert-calendar">{{ day.dayFrAbbr  }}</span>
                     {% else %}
                       <span>Me contacter</span>
                       {% endfor %}
                  {% endif %}
          </h5>
          <h5>
            <i>Mode de paiement accepté : </i>
               {% for pay in user.payment %}
                   <span class="advert-calendar">{{ pay.labelNormal  }}</span>
               {% else %}
                 <span>Me contacter</span>
                 {% endfor %}
          </h5>

        </blockquote>

  </div>
  <div class="col-md-4">
    <blockquote>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-8">
            <h5>Offres reçues : </h5>
            <h5>Offres proposées : </h5>
            <h5>Offres gagnées : </h5>
            <h5>Offres perdues : </h5>
          </div>
          <div class="col-md-4">
              <h5><span class="label label-info">{{countReceivedAuction}}</span></h5>
              <h5><span class="label label-warning">{{ countProposedAuction }}</span></h5>
              <h5><span class="label label-success">{{countAcceptedAuction}}</span></h5>
              <h5><span class="label label-danger">{{countLosedAuction}}</span></h5>
          </div>
        </div>
      </div>

    </blockquote>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <blockquote>
        <span class="label label-default se-badge">{{ listComment|length }}</span> avis reçues
      </blockquote>
      {% if listComment|length <= 0 %}
      <b>Aucun avis</b>
     {% else %}
        {% for comment in listComment %}
        <div  class="well" >
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-4 text-center">
                <h4>{{ comment.sender }}</h4>
                <h5><i>le {{ comment.dateCreation|date('d/m/Y') }}</i></h5>
                <h5>Note : <span class="label label-default se-badge">{{ comment.rate }} / 5</span></h5>
              </div>
              <div class="col-md-8">
                <h4>{{ comment.advert.title }}</h4>
                <h5>{{ comment.content |nl2br }}</h5>
              </div>
            </div>
            </div>
        </div>
          {% endfor %}
      {% endif %}
  </div>
</div>

<!--
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading se-panel-heading">
                  <h3 class="panel-title">Avis reçus</h3>
                </div>
                <div class="panel-body profile">
                   {% for comment in listComment %}
                      <h4>
                        <a class='se-tbl-link' href="{{ path('se_platform_user_view', {'userId': comment.sender.id}) }}" class="cat-link" >
                            {{ comment.sender }}
                        </a>
                      </h4>
                      <p><i>{{ comment.dateCreation|date('d/m/Y') }} à {{ comment.dateCreation|date('H:i:s') }}</i></p>
                      <div class="caption">
                          <p>{{ comment.content |nl2br }}</p>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>-->
