{% extends "SEPlatformBundle::layout.html.twig" %}

{% block title %}
    Profil de {{user}} - {{ parent() }}
{% endblock %}

{% block layout_header2 %}
    <h3 class="cat-title">Profil de {{user}}</h3>
{% endblock %}

{% block layout_body %}

      {% if app.user.isAcountComplete == 0 %}
            <div class="alert alert-danger" role="alert">
                Bonjour {{ app.user }}, Votre profil n'est pas complet, merci de le
                <a class="alert-link" href="{{ path('fos_user_profile_edit') }}" >compléter</a>
            </div>
      {% else %}
      {% block fos_user_content %}
          {% include "@FOSUser/Profile/view_content.html.twig" %}
      {% endblock fos_user_content %}
      {% endif %}

{% endblock %}
